n8n-workflow-vapi-call-handler.json
{
  "name": "Equity Insurance - VAPI AI Receptionist (Main)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "node-webhook-trigger",
      "name": "VAPI Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.type }}",
        "rules": {
          "rules": [
            { "value2": "function-call", "output": 0 },
            { "value2": "end-of-call-report", "output": 1 },
            { "value2": "status-update", "output": 2 }
          ]
        },
        "fallbackOutput": 3
      },
      "id": "node-event-router",
      "name": "Route Event Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.message.functionCall.name }}",
        "rules": {
          "rules": [
            { "value2": "checkBusinessHours", "output": 0 },
            { "value2": "classifyCaller", "output": 1 },
            { "value2": "saveLeadData", "output": 2 },
            { "value2": "checkDisqualifiers", "output": 3 },
            { "value2": "checkHotLead", "output": 4 },
            { "value2": "transferCall", "output": 5 }
          ]
        },
        "fallbackOutput": 6
      },
      "id": "node-function-router",
      "name": "Route Function Call",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [750, 200]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours (9am-5pm HST)\nconst now = new Date();\n\n// Convert to HST (UTC-10)\nconst hstOffset = -10;\nconst utcHours = now.getUTCHours();\nconst hstHours = (utcHours + hstOffset + 24) % 24;\nconst hstMinutes = now.getUTCMinutes();\n\nconst isBusinessHours = hstHours >= 9 && hstHours < 17;\nconst currentTimeHST = `${hstHours.toString().padStart(2, '0')}:${hstMinutes.toString().padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        isBusinessHours: isBusinessHours,\n        currentTimeHST: currentTimeHST,\n        message: isBusinessHours \n          ? 'We are currently open. Our hours are 9am to 5pm Hawaii Standard Time.'\n          : 'You have reached Equity Insurance outside of our regular office hours from 9am to 5pm. If you know your party\\'s extension, dial it at any time. Otherwise you can use our phone directory and enter the last name of the person you\\'re trying to reach, or press # to connect with our AI receptionist, or leave a voice mail in our general mailbox.'\n      })\n    }]\n  }\n}];"
      },
      "id": "node-check-hours",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 0]
    },
    {
      "parameters": {
        "jsCode": "// Classify the caller based on their stated intent\nconst args = $input.first().json.message.functionCall.parameters;\nconst intent = (args.intent || '').toLowerCase();\n\nlet callerType = 'new_customer';\nlet insuranceCategory = 'p_and_c';\nlet transferImmediately = false;\nlet transferTo = null;\n\n// Check for life insurance / medicare -> transfer to Davin\nif (intent.includes('life') || intent.includes('medicare') || intent.includes('health')) {\n  insuranceCategory = 'life_medicare';\n  transferImmediately = true;\n  transferTo = 'davin';\n}\n\n// Check for existing customer\nif (intent.includes('existing') || intent.includes('current customer') || intent.includes('my policy') || intent.includes('my account')) {\n  callerType = 'existing_customer';\n}\n\n// Check for claims\nif (intent.includes('claim') || intent.includes('accident') || intent.includes('damage') || intent.includes('file a claim')) {\n  callerType = 'claim';\n  transferImmediately = true;\n  transferTo = 'claims_agent';\n}\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        callerType,\n        insuranceCategory,\n        transferImmediately,\n        transferTo,\n        message: transferImmediately \n          ? `This caller should be transferred to ${transferTo}.`\n          : `Caller classified as ${callerType} for ${insuranceCategory}. Proceed with data collection.`\n      })\n    }]\n  }\n}];"
      },
      "id": "node-classify-caller",
      "name": "Classify Caller",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 150]
    },
    {
      "parameters": {
        "jsCode": "// Save lead data to QQ Catalyst and send notifications\nconst args = $input.first().json.message.functionCall.parameters;\n\n// Structure the lead data with migration flag\nconst leadData = {\n  migration_flag: 'VAPI_AI_COLLECTED',\n  source: 'ai_receptionist',\n  created_at: new Date().toISOString(),\n  call_id: $input.first().json.message.call?.id || 'unknown',\n  \n  personal_info: {\n    full_name: args.name || '',\n    phone: args.phone || '',\n    email: args.email || '',\n    mailing_address: args.address || '',\n    date_of_birth: args.dob || '',\n    occupation: args.occupation || ''\n  },\n  \n  insurance_request: {\n    type: args.insurance_type || '',\n    specific_needs: args.specific_needs || '',\n    is_first_time_buyer: args.first_time_buyer || null\n  },\n  \n  policy_specific_data: args.policy_data || {},\n  \n  qualification: {\n    qualified: true,\n    claims_history: {\n      has_current_claims: args.has_claims || false,\n      claims_count_past_year: args.claims_past_year || 0,\n      claims_count_past_5_years: args.claims_past_5_years || 0\n    }\n  },\n  \n  referral_source: args.referral_source || '',\n  follow_up_method: args.email ? 'email' : 'phone'\n};\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        saved: true,\n        leadId: `lead_${Date.now()}`,\n        message: 'Lead data saved successfully. Notifications sent to team.'\n      })\n    }],\n    leadData: leadData\n  }\n}];"
      },
      "id": "node-save-lead",
      "name": "Save Lead Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check disqualification rules\nconst args = $input.first().json.message.functionCall.parameters;\n\nconst claimsPastYear = parseInt(args.claims_past_year) || 0;\nconst urgency72h = args.urgency_72h === true || args.urgency_72h === 'true';\nconst policyType = (args.policy_type || '').toLowerCase();\n\nlet qualified = true;\nlet reason = null;\n\n// Rule 1: 3+ claims in past year = disqualified\nif (claimsPastYear >= 3) {\n  qualified = false;\n  reason = 'More than 3 claims in the past year';\n}\n\n// Rule 2: Property + urgency within 72h = disqualified\nif (policyType === 'property' && urgency72h) {\n  qualified = false;\n  reason = 'Property insurance needed within 72 hours - requires specialized attention';\n}\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        qualified,\n        reason,\n        message: qualified \n          ? 'Caller is qualified. Continue with data collection.'\n          : `Based on the information shared, this caller\\'s situation may require specialized attention. Politely explain that one of our agents will need to assist them directly, and offer to transfer the call.`\n      })\n    }]\n  }\n}];"
      },
      "id": "node-check-disqualifiers",
      "name": "Check Disqualifiers",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 450]
    },
    {
      "parameters": {
        "jsCode": "// Check if this is a hot lead requiring immediate transfer\nconst args = $input.first().json.message.functionCall.parameters;\n\nconst propertyValue = parseFloat(args.property_value) || 0;\nconst autoValue = parseFloat(args.auto_value) || 0;\n\nlet isHotLead = false;\nlet reason = null;\n\n// Rule 1: Property over $2M\nif (propertyValue > 2000000) {\n  isHotLead = true;\n  reason = `Property valued at $${propertyValue.toLocaleString()} (over $2M threshold)`;\n}\n\n// Rule 2: Auto over $180K\nif (autoValue > 180000) {\n  isHotLead = true;\n  reason = `Automobile valued at $${autoValue.toLocaleString()} (over $180K threshold)`;\n}\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        isHotLead,\n        reason,\n        message: isHotLead \n          ? 'This is a HIGH-VALUE lead. Say: \"This is something our senior team would love to help you with personally. Let me connect you right away.\" Then transfer the call immediately.'\n          : 'Not a hot lead. Continue with normal data collection flow.'\n      })\n    }]\n  }\n}];"
      },
      "id": "node-check-hot-lead",
      "name": "Check Hot Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 600]
    },
    {
      "parameters": {
        "jsCode": "// Handle call transfer requests\nconst args = $input.first().json.message.functionCall.parameters;\nconst transferTo = (args.transfer_to || '').toLowerCase();\n\n// Transfer destination mapping (UPDATE WITH REAL NUMBERS)\nconst transferMap = {\n  'davin': {\n    number: '+18085937746',  // UPDATE: Davin's direct extension\n    name: 'Davin Char',\n    role: 'CEO / Senior Agent'\n  },\n  'val': {\n    number: '+18087800473',\n    name: 'Val Char',\n    role: 'P&C Agent'\n  },\n  'claims_agent': {\n    number: '+18085937746',  // UPDATE: Claims handler extension\n    name: 'Claims Department',\n    role: 'Claims'\n  },\n  'general': {\n    number: '+18085937746',  // Main line\n    name: 'General',\n    role: 'General'\n  }\n};\n\nconst destination = transferMap[transferTo] || transferMap['general'];\n\nreturn [{\n  json: {\n    results: [{\n      toolCallId: $input.first().json.message.functionCall.id,\n      result: JSON.stringify({\n        transferTo: destination.name,\n        transferNumber: destination.number,\n        message: `Transferring to ${destination.name} (${destination.role}).`\n      })\n    }]\n  }\n}];"
      },
      "id": "node-transfer-call",
      "name": "Transfer Call",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 750]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "node-respond-webhook",
      "name": "Respond to VAPI",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "jsCode": "// Handle end-of-call report - trigger post-call workflows\nconst callReport = $input.first().json.message;\n\nconst summary = {\n  call_id: callReport.call?.id || 'unknown',\n  duration: callReport.durationSeconds || 0,\n  ended_reason: callReport.endedReason || 'unknown',\n  transcript: callReport.transcript || '',\n  summary: callReport.summary || '',\n  timestamp: new Date().toISOString()\n};\n\nreturn [{ json: summary }];"
      },
      "id": "node-call-end-handler",
      "name": "Handle Call End",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 500]
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_BASE_URL }}/webhook/post-call-notification",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "call_data",
              "value": "={{ JSON.stringify($json) }}"
            }
          ]
        },
        "options": {}
      },
      "id": "node-trigger-notifications",
      "name": "Trigger Post-Call Notifications",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "jsCode": "// Handle status updates (call started, ringing, etc.)\nconst status = $input.first().json.message?.status || 'unknown';\n\nreturn [{\n  json: {\n    results: [{\n      message: `Call status: ${status}`\n    }]\n  }\n}];"
      },
      "id": "node-status-handler",
      "name": "Handle Status Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 650]
    }
  ],
  "connections": {
    "VAPI Webhook": {
      "main": [
        [
          { "node": "Route Event Type", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route Event Type": {
      "main": [
        [
          { "node": "Route Function Call", "type": "main", "index": 0 }
        ],
        [
          { "node": "Handle Call End", "type": "main", "index": 0 }
        ],
        [
          { "node": "Handle Status Update", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route Function Call": {
      "main": [
        [
          { "node": "Check Business Hours", "type": "main", "index": 0 }
        ],
        [
          { "node": "Classify Caller", "type": "main", "index": 0 }
        ],
        [
          { "node": "Save Lead Data", "type": "main", "index": 0 }
        ],
        [
          { "node": "Check Disqualifiers", "type": "main", "index": 0 }
        ],
        [
          { "node": "Check Hot Lead", "type": "main", "index": 0 }
        ],
        [
          { "node": "Transfer Call", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Classify Caller": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Save Lead Data": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Disqualifiers": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Check Hot Lead": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Transfer Call": {
      "main": [
        [
          { "node": "Respond to VAPI", "type": "main", "index": 0 }
        ]
      ]
    },
    "Handle Call End": {
      "main": [
        [
          { "node": "Trigger Post-Call Notifications", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    { "name": "equity-insurance" },
    { "name": "vapi" },
    { "name": "ai-receptionist" }
  ]
}
