n8n-workflow-notifications.json
{
  "name": "Equity Insurance - Post-Call Notifications & Escalation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "post-call-notification",
        "options": {}
      },
      "id": "node-notif-webhook",
      "name": "Post-Call Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "// Parse incoming call data and determine notification type\nconst callData = $input.first().json.body || $input.first().json;\nconst data = typeof callData.call_data === 'string' ? JSON.parse(callData.call_data) : callData.call_data || callData;\n\n// Determine notification type based on call data\nlet notificationType = 'new_p_and_c_lead';\nlet assignTo = 'val';\nlet priority = 'normal';\n\nif (data.leadData) {\n  const lead = data.leadData;\n  \n  if (lead.qualification?.is_hot_lead) {\n    notificationType = 'hot_lead';\n    assignTo = 'davin_and_val';\n    priority = 'high';\n  } else if (lead.insurance_request?.type === 'business') {\n    notificationType = 'commercial_lead';\n    assignTo = 'val'; // Val for Commercial f/up per Val's notes\n    priority = 'normal';\n  } else if (lead.caller_type === 'existing_customer') {\n    notificationType = 'existing_customer';\n    assignTo = 'val';\n    priority = 'normal';\n  }\n}\n\nreturn [{\n  json: {\n    ...data,\n    notificationType,\n    assignTo,\n    priority,\n    processedAt: new Date().toISOString()\n  }\n}];"
      },
      "id": "node-parse-notification",
      "name": "Parse & Classify Notification",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $json.notificationType }}",
        "rules": {
          "rules": [
            { "value2": "hot_lead", "output": 0 },
            { "value2": "new_p_and_c_lead", "output": 1 },
            { "value2": "commercial_lead", "output": 2 },
            { "value2": "existing_customer", "output": 3 }
          ]
        },
        "fallbackOutput": 4
      },
      "id": "node-notif-router",
      "name": "Route Notification Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [750, 300]
    },
    {
      "parameters": {
        "fromEmail": "ai-receptionist@equityinsurance.services",
        "toEmail": "davin@equityinsurance.services, val@equityinsurance.services",
        "subject": "=HOT LEAD - {{ $json.leadData?.personal_info?.full_name || 'Unknown' }} - {{ $json.leadData?.insurance_request?.type || 'Insurance' }}",
        "emailType": "html",
        "html": "=<h2 style='color: #e63946;'>HOT LEAD - IMMEDIATE FOLLOW-UP REQUIRED</h2>\n<hr>\n<table style='width:100%; border-collapse:collapse;'>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Name</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.full_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Phone</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.phone || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Email</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.email || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Address</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.mailing_address || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>DOB</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.date_of_birth || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Occupation</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.occupation || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Insurance Type</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.type || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa; color:#e63946;'>HOT LEAD REASON</td><td style='padding:8px; color:#e63946; font-weight:bold;'>{{ $json.leadData?.qualification?.hot_lead_reason || 'High-value asset' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Referral Source</td><td style='padding:8px;'>{{ $json.leadData?.referral_source || 'N/A' }}</td></tr>\n</table>\n<hr>\n<p style='color:#666; font-size:12px;'>Collected by AI Receptionist | {{ $json.processedAt }}</p>",
        "options": {}
      },
      "id": "node-hot-lead-email",
      "name": "Email: Hot Lead Alert",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 100]
    },
    {
      "parameters": {
        "fromEmail": "ai-receptionist@equityinsurance.services",
        "toEmail": "val@equityinsurance.services",
        "subject": "=New P&C Lead - {{ $json.leadData?.personal_info?.full_name || 'Unknown' }} - {{ $json.leadData?.insurance_request?.type || 'Insurance' }}",
        "emailType": "html",
        "html": "=<h2>New P&C Lead from AI Receptionist</h2>\n<hr>\n<table style='width:100%; border-collapse:collapse;'>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Name</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.full_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Phone</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.phone || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Email</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.email || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Address</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.mailing_address || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>DOB</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.date_of_birth || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Occupation</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.occupation || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Insurance Type</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.type || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Specific Needs</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.specific_needs || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Claims History</td><td style='padding:8px;'>{{ $json.leadData?.qualification?.claims_history?.claims_count_past_year || '0' }} claims past year</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Referral Source</td><td style='padding:8px;'>{{ $json.leadData?.referral_source || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Follow-up Method</td><td style='padding:8px;'>{{ $json.leadData?.follow_up_method || 'phone' }}</td></tr>\n</table>\n<hr>\n<p><strong>Cross-sell Opportunities:</strong> {{ JSON.stringify($json.leadData?.cross_sell_opportunities || []) }}</p>\n<p style='color:#666; font-size:12px;'>Collected by AI Receptionist | Migration Flag: VAPI_AI_COLLECTED | {{ $json.processedAt }}</p>",
        "options": {}
      },
      "id": "node-new-lead-email",
      "name": "Email: New P&C Lead to Val",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 250]
    },
    {
      "parameters": {
        "fromEmail": "ai-receptionist@equityinsurance.services",
        "toEmail": "val@equityinsurance.services",
        "subject": "=Commercial Lead - {{ $json.leadData?.personal_info?.full_name || 'Unknown' }} - Business Insurance",
        "emailType": "html",
        "html": "=<h2>New Commercial/Business Lead</h2>\n<hr>\n<table style='width:100%; border-collapse:collapse;'>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Contact Name</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.full_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Phone</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.phone || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Email</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.email || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Business Name</td><td style='padding:8px;'>{{ $json.leadData?.policy_specific_data?.business?.business_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>EIN</td><td style='padding:8px;'>{{ $json.leadData?.policy_specific_data?.business?.ein || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Annual Revenue</td><td style='padding:8px;'>{{ $json.leadData?.policy_specific_data?.business?.annual_revenue || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Industry</td><td style='padding:8px;'>{{ $json.leadData?.policy_specific_data?.business?.industry || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Start Date</td><td style='padding:8px;'>{{ $json.leadData?.policy_specific_data?.business?.start_date || 'N/A' }}</td></tr>\n</table>\n<hr>\n<p style='color:#666; font-size:12px;'>Commercial lead for Val follow-up (confirm with Davin) | {{ $json.processedAt }}</p>",
        "options": {}
      },
      "id": "node-commercial-lead-email",
      "name": "Email: Commercial Lead to Val",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "fromEmail": "ai-receptionist@equityinsurance.services",
        "toEmail": "val@equityinsurance.services",
        "subject": "=Existing Customer Request - {{ $json.leadData?.personal_info?.full_name || 'Unknown' }}",
        "emailType": "html",
        "html": "=<h2>Existing Customer Request</h2>\n<hr>\n<table style='width:100%; border-collapse:collapse;'>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Name</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.full_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Phone</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.phone || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Request</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.specific_needs || 'General inquiry' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Policy Type</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.type || 'N/A' }}</td></tr>\n</table>\n<hr>\n<p><strong>AI told customer:</strong> \"A live agent will get back to you in the next few hours.\"</p>\n<p style='color:#e63946; font-weight:bold;'>Please respond within 2 hours or this will escalate to Davin.</p>\n<p style='color:#666; font-size:12px;'>{{ $json.processedAt }}</p>",
        "options": {}
      },
      "id": "node-existing-customer-email",
      "name": "Email: Existing Customer to Val",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1050, 550]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "hours"
      },
      "id": "node-wait-2h",
      "name": "Wait 2 Hours",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1300, 400]
    },
    {
      "parameters": {
        "fromEmail": "ai-receptionist@equityinsurance.services",
        "toEmail": "davin@equityinsurance.services",
        "subject": "=URGENT: Unhandled Lead - {{ $json.leadData?.personal_info?.full_name || 'Unknown' }} (2hr Escalation)",
        "emailType": "html",
        "html": "=<h2 style='color:#e63946;'>ESCALATION: Val Has Not Responded Within 2 Hours</h2>\n<hr>\n<p>The following lead was sent to Val 2 hours ago with no response:</p>\n<table style='width:100%; border-collapse:collapse;'>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Name</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.full_name || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Phone</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.phone || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Email</td><td style='padding:8px;'>{{ $json.leadData?.personal_info?.email || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Insurance Type</td><td style='padding:8px;'>{{ $json.leadData?.insurance_request?.type || 'N/A' }}</td></tr>\n<tr><td style='padding:8px; font-weight:bold; background:#f8f9fa;'>Original Notification</td><td style='padding:8px;'>{{ $json.processedAt }}</td></tr>\n</table>\n<hr>\n<p style='color:#e63946; font-weight:bold;'>Please follow up with this lead immediately.</p>",
        "options": {}
      },
      "id": "node-escalate-davin",
      "name": "Email: Escalate to Davin",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1550, 400]
    }
  ],
  "connections": {
    "Post-Call Webhook": {
      "main": [
        [
          { "node": "Parse & Classify Notification", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse & Classify Notification": {
      "main": [
        [
          { "node": "Route Notification Type", "type": "main", "index": 0 }
        ]
      ]
    },
    "Route Notification Type": {
      "main": [
        [
          { "node": "Email: Hot Lead Alert", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email: New P&C Lead to Val", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email: Commercial Lead to Val", "type": "main", "index": 0 }
        ],
        [
          { "node": "Email: Existing Customer to Val", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email: New P&C Lead to Val": {
      "main": [
        [
          { "node": "Wait 2 Hours", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email: Commercial Lead to Val": {
      "main": [
        [
          { "node": "Wait 2 Hours", "type": "main", "index": 0 }
        ]
      ]
    },
    "Email: Existing Customer to Val": {
      "main": [
        [
          { "node": "Wait 2 Hours", "type": "main", "index": 0 }
        ]
      ]
    },
    "Wait 2 Hours": {
      "main": [
        [
          { "node": "Email: Escalate to Davin", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "tags": [
    { "name": "equity-insurance" },
    { "name": "notifications" },
    { "name": "escalation" }
  ]
}
