n8n-wf08-sms-form-sender.json
{
  "name": "WF-08 SMS Form Sender (Email-to-SMS Gateway)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-send-form",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf08-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vapi-send-form"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "call_id",
              "name": "call_id",
              "value": "={{ $json.message.toolCallList[0].function.arguments.call_id || $json.message.call.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "caller_name",
              "name": "caller_name",
              "value": "={{ $json.message.toolCallList[0].function.arguments.caller_name || 'Valued Caller' }}",
              "type": "string"
            },
            {
              "id": "caller_phone",
              "name": "caller_phone",
              "value": "={{ $json.message.toolCallList[0].function.arguments.caller_phone || '' }}",
              "type": "string"
            },
            {
              "id": "insurance_type",
              "name": "insurance_type",
              "value": "={{ $json.message.toolCallList[0].function.arguments.insurance_type || 'auto' }}",
              "type": "string"
            },
            {
              "id": "toolCallId",
              "name": "toolCallId",
              "value": "={{ $json.message.toolCallList[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf08-extract-params",
      "name": "Extract Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build SMS messages for all major US carrier gateways\nconst callerName = items[0].json.caller_name || 'there';\nconst callerPhone = (items[0].json.caller_phone || '').replace(/[\\s\\-()\\+]/g, '');\nconst callId = items[0].json.call_id || '';\nconst insuranceType = items[0].json.insurance_type || 'auto';\nconst toolCallId = items[0].json.toolCallId || '';\n\n// Strip leading '1' if 11 digits (US country code)\nlet phone10 = callerPhone;\nif (phone10.length === 11 && phone10.startsWith('1')) {\n  phone10 = phone10.substring(1);\n}\n\nif (phone10.length !== 10) {\n  return [{\n    json: {\n      error: true,\n      message: 'Invalid phone number: ' + callerPhone + ' (need 10 digits)',\n      toolCallId\n    }\n  }];\n}\n\n// Google Form URL for Auto Insurance\nconst FORM_URL = 'https://docs.google.com/forms/d/1nXAAS4HKmuoofX9dqK5vF_llri1zEEThAyOJBI-midk/viewform';\n\n// SMS body — must be short and clean (SMS = 160 char limit per segment)\nconst smsBody = `Aloha ${callerName}! Mahalo for calling Equity Insurance. Please complete your ${insuranceType} quote form here: ${FORM_URL} - Call us at (808) 593-7746 with any questions!`;\n\n// US Carrier Email-to-SMS gateways\n// We send to ALL major carriers — only the correct one will deliver\nconst carrierGateways = [\n  { carrier: 'ATT',       address: phone10 + '@txt.att.net' },\n  { carrier: 'TMobile',   address: phone10 + '@tmomail.net' },\n  { carrier: 'Verizon',   address: phone10 + '@vtext.com' },\n  { carrier: 'Sprint',    address: phone10 + '@messaging.sprintpcs.com' },\n  { carrier: 'USCellular', address: phone10 + '@email.uscc.net' },\n  { carrier: 'Cricket',   address: phone10 + '@sms.cricketwireless.net' },\n  { carrier: 'MetroPCS',  address: phone10 + '@mymetropcs.com' },\n  { carrier: 'Boost',     address: phone10 + '@sms.myboostmobile.com' },\n  { carrier: 'GoogleFi',  address: phone10 + '@msg.fi.google.com' }\n];\n\n// Combine all gateway addresses into comma-separated TO field\nconst allRecipients = carrierGateways.map(g => g.address).join(', ');\n\nreturn [{\n  json: {\n    to: allRecipients,\n    subject: '',\n    body: smsBody,\n    call_id: callId,\n    caller_name: callerName,\n    caller_phone: phone10,\n    insurance_type: insuranceType,\n    form_url: FORM_URL,\n    toolCallId,\n    error: false,\n    gateway_count: carrierGateways.length,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf08-build-sms",
      "name": "Build SMS via Gateway",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf08-if-valid-phone",
      "name": "IF Valid Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to }}",
        "subject": "",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false
        }
      },
      "id": "wf08-send-sms-gateway",
      "name": "Send SMS via Email Gateway",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1170, 250],
      "credentials": {
        "gmailOAuth2": {
          "id": "Q1QMixyCKrZpc2Vl",
          "name": "Gmail - Equity Insurance"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Extract Params').item.json.toolCallId }}\",\n      \"result\": \"SMS with the quote form link has been sent to {{ $('Extract Params').item.json.caller_phone }}. The form was sent via text message to the caller's phone number.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "wf08-respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Extract Params').item.json.toolCallId }}\",\n      \"result\": \"SMS could not be sent — invalid phone number. The caller's information has been saved and an agent will follow up with the form link.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "wf08-respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1170, 450]
    },
    {
      "parameters": {
        "jsCode": "// Log the SMS send for follow-up reminder tracking\n// Store in workflow static data so WF-08 reminder cron can check\nconst staticData = $getWorkflowStaticData('global');\nconst callId = $('Extract Params').item.json.call_id;\nconst phone = $('Extract Params').item.json.caller_phone;\nconst sentAt = new Date().toISOString();\n\nif (!staticData.pendingReminders) {\n  staticData.pendingReminders = {};\n}\n\n// Track this SMS for follow-up reminder (check after 24 hours)\nstaticData.pendingReminders[callId] = {\n  phone,\n  caller_name: $('Extract Params').item.json.caller_name,\n  insurance_type: $('Extract Params').item.json.insurance_type,\n  sent_at: sentAt,\n  reminder_sent: false\n};\n\nreturn items;"
      },
      "id": "wf08-log-for-reminder",
      "name": "Log for Reminder",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 100]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Build SMS via Gateway",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SMS via Gateway": {
      "main": [
        [
          {
            "node": "IF Valid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Phone": {
      "main": [
        [
          {
            "node": "Send SMS via Email Gateway",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Email Gateway": {
      "main": [
        [
          {
            "node": "Log for Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null
}