n8n-wf03-hot-lead-transfer.json
{
  "name": "WF-03 Hot Lead Transfer Handler",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "wf03-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [50, 300]
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "t-call_id", "name": "call_id", "value": "={{ $json.call_id }}", "type": "string" },
            { "id": "t-caller_name", "name": "caller_name", "value": "={{ $json.caller_name }}", "type": "string" },
            { "id": "t-caller_phone", "name": "caller_phone", "value": "={{ $json.caller_phone }}", "type": "string" },
            { "id": "t-policy_type", "name": "policy_type", "value": "={{ $json.policy_type }}", "type": "string" },
            { "id": "t-estimated_value", "name": "estimated_value", "value": "={{ $json.estimated_value }}", "type": "number" },
            { "id": "t-transfer_primary", "name": "transfer_to_primary", "value": "+18087800473", "type": "string" },
            { "id": "t-transfer_secondary", "name": "transfer_to_secondary", "value": "your-davin-cell-here", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "wf03-receive-input",
      "name": "Receive Input Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vapi.ai/call/{{ $json.call_id }}/transfer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"destination\": { \"type\": \"number\", \"number\": \"{{ $json.transfer_to_primary }}\" }, \"mode\": \"warm\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wf03-send-transfer",
      "name": "Send VAPI Transfer Command",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BxJCvZZfiIkt90Ua",
          "name": "VAPI API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wf03-wait",
      "name": "Wait for Transfer Result",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [730, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "transfer-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "answered",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf03-if-success",
      "name": "IF Transfer Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "=14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "call_status": "transferred_hot_lead",
            "transfer_target": "={{ $json.transfer_to_primary }}",
            "transfer_time": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "wf03-update-success",
      "name": "Update Lead (Success)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1220, 150],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Check if secondary transfer number is valid (not placeholder, not empty)\nconst secondary = items[0].json.transfer_to_secondary || '';\nconst isValid = secondary.length > 5 && !secondary.includes('your-') && !secondary.includes('placeholder');\nreturn [{ json: { ...items[0].json, secondary_valid: isValid } }];"
      },
      "id": "wf03-check-secondary",
      "name": "Check Secondary Valid",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1220, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "secondary-valid",
              "leftValue": "={{ $json.secondary_valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf03-if-secondary-valid",
      "name": "IF Secondary Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1450, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.vapi.ai/call/{{ $json.call_id }}/transfer",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"destination\": { \"type\": \"number\", \"number\": \"{{ $json.transfer_to_secondary }}\" }, \"mode\": \"warm\" }",
        "options": {
          "timeout": 30000
        }
      },
      "id": "wf03-send-transfer-secondary",
      "name": "Try Secondary Transfer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1700, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "BxJCvZZfiIkt90Ua",
          "name": "VAPI API Key"
        }
      }
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wf03-wait-secondary",
      "name": "Wait for Secondary",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1930, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "secondary-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "answered",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf03-if-secondary-success",
      "name": "IF Secondary Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [2160, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "=14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "call_status": "transferred_hot_lead",
            "transfer_target": "={{ $json.transfer_to_secondary }}",
            "transfer_time": "={{ $now }}"
          }
        },
        "options": {}
      },
      "id": "wf03-update-success-secondary",
      "name": "Update Lead (Success - Secondary)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "=14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "call_status": "transfer_failed_hot_lead",
            "priority": "critical"
          }
        },
        "options": {}
      },
      "id": "wf03-update-failure",
      "name": "Update Lead (Failure)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [2420, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "val@equityinsurance.services, davin@equityinsurance.services",
        "subject": "=URGENT: HOT LEAD TRANSFER FAILED — {{ $json.caller_name }} — CALLBACK REQUIRED",
        "message": "=Transfer to {{ $json.transfer_to_primary }} and {{ $json.transfer_to_secondary }} FAILED.\n\nCaller: {{ $json.caller_name }}\nPhone: {{ $json.caller_phone }}\nPolicy: {{ $json.policy_type }}\nValue: ${{ $json.estimated_value }}\n\nIMMEDIATE CALLBACK REQUIRED.",
        "options": {}
      },
      "id": "wf03-urgent-email",
      "name": "Send URGENT Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [2680, 500],
      "credentials": {
        "gmailOAuth2": {
          "id": "Q1QMixyCKrZpc2Vl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Receive Input Data", "type": "main", "index": 0 }]]
    },
    "Receive Input Data": {
      "main": [[{ "node": "Send VAPI Transfer Command", "type": "main", "index": 0 }]]
    },
    "Send VAPI Transfer Command": {
      "main": [[{ "node": "Wait for Transfer Result", "type": "main", "index": 0 }]]
    },
    "Wait for Transfer Result": {
      "main": [[{ "node": "IF Transfer Success", "type": "main", "index": 0 }]]
    },
    "IF Transfer Success": {
      "main": [
        [{ "node": "Update Lead (Success)", "type": "main", "index": 0 }],
        [{ "node": "Check Secondary Valid", "type": "main", "index": 0 }]
      ]
    },
    "Check Secondary Valid": {
      "main": [[{ "node": "IF Secondary Valid", "type": "main", "index": 0 }]]
    },
    "IF Secondary Valid": {
      "main": [
        [{ "node": "Try Secondary Transfer", "type": "main", "index": 0 }],
        [{ "node": "Update Lead (Failure)", "type": "main", "index": 0 }]
      ]
    },
    "Try Secondary Transfer": {
      "main": [[{ "node": "Wait for Secondary", "type": "main", "index": 0 }]]
    },
    "Wait for Secondary": {
      "main": [[{ "node": "IF Secondary Success", "type": "main", "index": 0 }]]
    },
    "IF Secondary Success": {
      "main": [
        [{ "node": "Update Lead (Success - Secondary)", "type": "main", "index": 0 }],
        [{ "node": "Update Lead (Failure)", "type": "main", "index": 0 }]
      ]
    },
    "Update Lead (Failure)": {
      "main": [[{ "node": "Send URGENT Notification", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
