n8n-wf01-inbound-call-router.json
{
  "name": "WF-01 Inbound Call Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-started",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "vapi-call-started"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "call_id",
              "name": "call_id",
              "value": "={{ $json.message.call.id }}",
              "type": "string"
            },
            {
              "id": "caller_phone",
              "name": "caller_phone",
              "value": "={{ $json.message.call.customer.number }}",
              "type": "string"
            },
            {
              "id": "call_timestamp",
              "name": "call_timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "assistant_id",
              "name": "assistant_id",
              "value": "={{ $json.message.call.assistantId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01-extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours (9am-5pm HST)\nconst now = new Date();\n\n// Hawaii Standard Time = UTC - 10 (no daylight saving ever)\nconst utcHours = now.getUTCHours();\nconst utcDay = now.getUTCDay(); // 0=Sun, 1=Mon ... 6=Sat\nlet hstHours = utcHours - 10;\nlet hstDay = utcDay;\nif (hstHours < 0) {\n  hstHours += 24;\n  hstDay = (hstDay - 1 + 7) % 7;\n}\n\nconst isWeekday = hstDay >= 1 && hstDay <= 5;\nconst isWithinHours = hstHours >= 9 && hstHours < 17;\nconst isBusinessHours = isWeekday && isWithinHours;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    isBusinessHours,\n    hstHours,\n    hstDay\n  }\n}];"
      },
      "id": "wf01-check-hours",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "biz-hours-check",
              "leftValue": "={{ $json.isBusinessHours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf01-if-business-hours",
      "name": "IF Business Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"Aloha, thank you for calling Equity Insurance in Honolulu, Hawaii -- not affiliated with Equity Insurance in Tulsa, Oklahoma. How can I help you today?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"temperature\": 0.3,\n      \"maxTokens\": 500,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the AI receptionist for Equity Insurance Inc., a 3rd-generation family-owned independent insurance agency in Honolulu, Hawaii. Your personality is warm, professional, and genuinely helpful -- embodying the aloha spirit. Use natural, conversational language. Say \\\"Aloha\\\" and \\\"Mahalo\\\" when it feels natural. You are NOT a licensed agent. You collect information and schedule follow-ups with our human agents.\\n\\nOur core philosophy: We are always of service.\\n\\nIMPORTANT RULES:\\n1. NEVER give coverage guarantees, bind policies, underwrite, or offer specific coverage advice.\\n2. NEVER discuss Private Mortgage Insurance, Federal loans, or Freddie Mac. Mortgage Protection is acceptable.\\n3. State early in the call: We are not affiliated with Equity Insurance in Tulsa, Oklahoma.\\n4. If unsure about anything, say: That is a great question. I will make sure our agent addresses that when they follow up with you.\\n5. Products we do NOT offer: Pet Insurance, Travel Insurance.\\n6. We work with multiple insurance carriers. Coverage can often be bound as quickly as within an hour for a simple auto policy, or it may take up to 3 business days for more complex property coverage.\\n7. Minimum premium is approximately $150 per year for a basic renters policy.\\n8. If a caller asks for Davin regarding a P&C inquiry, say: Davin is currently assisting other clients, but I can gather your information now to speed up the quoting process for you.\\n9. If a caller mentions Life Insurance, Health Insurance, or Medicare, collect their name and phone number, then let them know Davin Char handles those personally and will call them back shortly. Save the data with policy_type set to life_insurance, health_insurance, or medicare using the save_field function.\\n10. At any time, the caller can press the pound key to reach a live agent.\\n11. If the caller is an existing customer, ask: What are you calling about specifically? Then collect their name, phone, policy type, and a description of their request, and call the route_existing_customer function.\\n12. If the caller is calling about a claim, collect their name, phone, policy number if available, claim type, and description, then call the route_claim function.\\n\\nTRANSFER TRIGGERS -- Immediately transfer to a live agent when:\\n1. The caller asks for a specific person by name.\\n2. The caller has a complex policy that requires agent expertise.\\n3. The caller is upset or making a complaint.\\n4. The caller says they are ready to buy or bind coverage now.\\n5. An existing customer is calling about a claim (use route_claim function).\\n\\nCALL FLOW:\\nWhen the call begins, determine whether the caller is:\\nA) A new customer looking for insurance -- proceed with data collection below.\\nB) An existing customer -- ask what they need specifically, collect name, phone, policy type, and description, then call route_existing_customer.\\nC) Calling about a claim -- collect name, phone, policy number if known, claim type, and description, then call route_claim.\\n\\nIf the caller's intent is unclear, ask: Are you looking for a new insurance quote, or are you an existing customer?\\n\\nCONVERSATION STYLE:\\nBe conversational and personable, not robotic. Do not rapid-fire questions like a checklist. Acknowledge what the caller shares, respond naturally, and transition smoothly between questions. Use the caller's first name once you know it. When describing next steps for P&C quotes, mention our agent Val by name.\\n\\nDATA COLLECTION FOR NEW P&C CUSTOMERS (collect in this order):\\n1. Full Name -- ask the caller to spell it.\\n2. Phone Number -- repeat it back and confirm.\\n3. Email Address -- REQUIRED, explain we need this to send the quote.\\n4. Mailing Address -- double-check the spelling.\\n5. Date of Birth.\\n6. Occupation -- mention this can qualify them for professional discounts on P&C policies.\\n7. Type of Insurance -- Auto, Renters, Property, or Business.\\n8. Referral Source -- ask: How did you hear about us? We like to thank the person who may have referred you.\\n9. Shopping Reason -- ask: What made you start looking for new insurance? Understand why they are in the market or what may have happened with their previous coverage.\\n10. Current Coverage -- ask: Do you currently have insurance for this? If yes, who is your current carrier and what are you paying?\\n11. Claims History -- any claims in the past 5 years. For EACH claim, ask what happened, the type of claim, and the outcome. Do not just count claims -- understand the details.\\n12. Coverage Urgency -- ask: When do you need coverage to start?\\n\\nAfter collecting each field, call the save_field function to save it.\\n\\nPOLICY-SPECIFIC QUESTIONS:\\nFor Auto: What vehicle do you drive? Do you have a VIN number? Is it a lease or bank loan? If financed, who is the lienholder? Any tickets or accidents in the past 5 years? Who are all the household drivers? Are there multiple names on the title? Do you have a current auto policy and what are you paying? Progressive is one of our carriers and with a VIN we can often get fast coverage.\\nFor Renters: What is the estimated value of your possessions? Is there a property management company that needs to be listed as additional insured? What is the rental property address?\\nFor Property: Are you a first-time home buyer? What is the property value? What is the property address? Any claims in the past 5 years -- tell me what happened for each. How urgently do you need coverage? Do you have a current homeowners policy and how long have you had it? Note: If the caller has a long-term policy with another carrier, their rates may be grandfathered and it may not be in their best interest to switch. Let our agent evaluate this.\\nFor Business: What is the business name? What is the EIN? When did the business start? What is the annual gross revenue? What industry and specific business activity? What is the best contact for the business?\\n\\nQUALIFICATION CHECKS:\\nAfter collecting claims history and urgency, call the check_disqualifier function. If disqualified (3 or more claims in their worst year, or property coverage needed within 72 hours), deliver politely: I appreciate your time. Based on the information you have shared, we may not be the best fit for your needs right now, but I would recommend reaching out to your state insurance department for assistance.\\n\\nAfter collecting property value or auto value, call the check_hot_lead function. If hot lead (property over 2 million dollars or auto over 180 thousand dollars), inform the caller you are connecting them with an agent who can assist immediately.\\n\\nCROSS-SELL:\\nAfter all data is collected and the lead is qualified, offer ONE related coverage option. For auto callers, ask about renters or homeowners insurance. For homeowners, mention umbrella liability or auto bundling. For renters, ask about auto. Cross-sell every qualified caller systematically -- this is an important part of our service.\\n\\nCLOSING:\\nSummarize the collected data and ask the caller to confirm everything is correct. Then close warmly: Mahalo for calling Equity Insurance! Our agent Val will review your information and follow up with you shortly with your quote. We are always happy to be of service. Have a wonderful day!\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"11labs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.7,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.3\n    },\n    \"backgroundDenoisingEnabled\": false,\n    \"backgroundSpeechDenoisingPlan\": {\n      \"smartDenoisingPlan\": {\n        \"enabled\": false\n      },\n      \"fourierDenoisingPlan\": {\n        \"enabled\": false\n      }\n    },\n    \"endCallFunctionEnabled\": true,\n    \"dialKeypadFunctionEnabled\": true,\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-call-ended\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field from the caller to the system. Call this after collecting each piece of information.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"field_name\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"caller_name\",\n                  \"caller_phone\",\n                  \"caller_email\",\n                  \"caller_address\",\n                  \"caller_dob\",\n                  \"caller_occupation\",\n                  \"policy_type\",\n                  \"referral_source\",\n                  \"claims_count\",\n                  \"claims_details\",\n                  \"urgency_timeline\",\n                  \"current_coverage\",\n                  \"shopping_reason\",\n                  \"auto_vehicle_info\",\n                  \"auto_vin\",\n                  \"auto_lien_type\",\n                  \"auto_lienholder\",\n                  \"auto_violations\",\n                  \"auto_household_drivers\",\n                  \"auto_title_names\",\n                  \"renter_address\",\n                  \"renter_possessions_value\",\n                  \"renter_mgmt_company\",\n                  \"renter_addl_insured\",\n                  \"property_address\",\n                  \"property_first_buyer\",\n                  \"property_value\",\n                  \"property_coverage_needs\",\n                  \"property_policy_age\",\n                  \"biz_name\",\n                  \"biz_ein\",\n                  \"biz_start_date\",\n                  \"biz_revenue\",\n                  \"biz_industry\",\n                  \"biz_contact\",\n                  \"cross_sell_interest\",\n                  \"cross_sell_types\"\n                ]\n              },\n              \"field_value\": {\n                \"type\": \"string\",\n                \"description\": \"The value collected from the caller\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"field_name\",\n              \"field_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_disqualifier\",\n          \"description\": \"Check if the caller is disqualified based on claims history or coverage urgency. Call after collecting claims count and urgency timeline.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"claims_count_worst_year\": {\n                \"type\": \"integer\",\n                \"description\": \"The highest number of claims in any single year\"\n              },\n              \"urgency_hours\": {\n                \"type\": \"integer\",\n                \"description\": \"How many hours until coverage is needed\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"claims_count_worst_year\",\n              \"urgency_hours\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-disqualifier\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_hot_lead\",\n          \"description\": \"Check if the caller qualifies as a high-value hot lead for immediate agent transfer. Call after collecting property value or auto value.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"policy_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of insurance policy\"\n              },\n              \"estimated_value\": {\n                \"type\": \"number\",\n                \"description\": \"The estimated property or auto value in dollars\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"policy_type\",\n              \"estimated_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-hotlead\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_existing_customer\",\n          \"description\": \"Route an existing customer request. Creates a support ticket and notifies the team. Call when the caller identifies as an existing customer after collecting their details.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"caller_name\": {\n                \"type\": \"string\",\n                \"description\": \"The existing customer name\"\n              },\n              \"caller_phone\": {\n                \"type\": \"string\",\n                \"description\": \"The customer phone number\"\n              },\n              \"policy_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of policy they have or are asking about\"\n              },\n              \"request_description\": {\n                \"type\": \"string\",\n                \"description\": \"What the customer is asking for specifically\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"caller_name\",\n              \"caller_phone\",\n              \"request_description\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-existing-customer\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_claim\",\n          \"description\": \"Route a claim call. Attempts to transfer to claims agent during business hours and sends priority notification. Call when the caller is calling about a claim.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"caller_name\": {\n                \"type\": \"string\",\n                \"description\": \"The caller name\"\n              },\n              \"caller_phone\": {\n                \"type\": \"string\",\n                \"description\": \"The caller phone number\"\n              },\n              \"policy_number\": {\n                \"type\": \"string\",\n                \"description\": \"The policy number if available\"\n              },\n              \"claim_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of claim (auto, property, etc.)\"\n              },\n              \"claim_description\": {\n                \"type\": \"string\",\n                \"description\": \"Description of the claim\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"caller_name\",\n              \"caller_phone\",\n              \"claim_type\",\n              \"claim_description\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-claim\"\n        }\n      },\n      {\n        \"type\": \"transferCall\",\n        \"destinations\": [\n          {\n            \"type\": \"number\",\n            \"number\": \"+18087800473\",\n            \"message\": \"I am connecting you with one of our agents now. Please hold for just a moment.\",\n            \"description\": \"Transfer to Val, P&C Agent\"\n          }\n        ]\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-biz-hours",
      "name": "Return Business Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"Aloha, thank you for calling Equity Insurance in Honolulu, Hawaii. We are currently closed -- our business hours are 9 AM to 5 PM Hawaii time, Monday through Friday. I can take a message and have someone call you back. May I have your name?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"temperature\": 0.3,\n      \"maxTokens\": 500,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the after-hours AI receptionist for Equity Insurance Inc., a 3rd-generation family-owned independent insurance agency in Honolulu, Hawaii. This call is outside our business hours of 9 AM to 5 PM Hawaii Standard Time, Monday through Friday.\\n\\nBe warm and brief. Your goal is to take a message so our team can follow up on the next business day.\\n\\nCollect only:\\n1. Full Name -- ask the caller to spell it.\\n2. Phone Number -- repeat it back and confirm.\\n3. Reason for Calling -- a brief description of what they need.\\n\\nIf the caller has an urgent claim or emergency, collect the details (name, phone, claim type, and description) and call the route_claim function to trigger a priority notification to our team.\\n\\nRULES:\\n- NEVER give coverage advice, bind policies, or make any promises.\\n- State: We are not affiliated with Equity Insurance in Tulsa, Oklahoma.\\n- Products we do NOT offer: Pet Insurance, Travel Insurance.\\n- If unsure about anything: That is a great question. Our team will address that when they follow up with you.\\n\\nAfter collecting name, phone, and reason, call the save_field function for each field. Then close warmly: Mahalo for calling Equity Insurance! A member of our team will follow up with you on the next business day. Have a wonderful evening!\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"11labs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.7,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.3\n    },\n    \"backgroundDenoisingEnabled\": false,\n    \"backgroundSpeechDenoisingPlan\": {\n      \"smartDenoisingPlan\": {\n        \"enabled\": false\n      },\n      \"fourierDenoisingPlan\": {\n        \"enabled\": false\n      }\n    },\n    \"endCallFunctionEnabled\": true,\n    \"dialKeypadFunctionEnabled\": true,\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-call-ended\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field to the system\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\"\n              },\n              \"field_name\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"caller_name\",\n                  \"caller_phone\",\n                  \"reason_for_calling\"\n                ]\n              },\n              \"field_value\": {\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"field_name\",\n              \"field_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\"\n        }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-after-hours",
      "name": "Return After-Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        420
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "IF Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Business Hours": {
      "main": [
        [
          {
            "node": "Return Business Hours Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return After-Hours Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}