n8n-wf02-new-customer-intake.json
{
  "name": "WF-02 New Customer P&C Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-save-field",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-save-field",
      "name": "Webhook - Save Field",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 100],
      "webhookId": "vapi-save-field"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            { "id": "a-call_id", "name": "call_id", "value": "={{ $json.message.functionCall.parameters.call_id }}", "type": "string" },
            { "id": "a-field_name", "name": "field_name", "value": "={{ $json.message.functionCall.parameters.field_name }}", "type": "string" },
            { "id": "a-field_value", "name": "field_value", "value": "={{ $json.message.functionCall.parameters.field_value }}", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "wf02-extract-field-params",
      "name": "Extract Field Parameters",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 100]
    },
    {
      "parameters": {
        "jsCode": "const { field_name, field_value } = items[0].json;\nlet valid = true;\nlet error = '';\n\nswitch (field_name) {\n  case 'caller_phone':\n    valid = /^\\+?1?\\d{10}$/.test(field_value.replace(/[\\s\\-()]/g, ''));\n    error = valid ? '' : 'Invalid phone number format';\n    break;\n  case 'caller_email':\n    valid = /^[^@]+@[^@]+\\.[^@]+$/.test(field_value);\n    error = valid ? '' : 'Invalid email format';\n    break;\n  case 'caller_dob':\n    const d = new Date(field_value);\n    valid = !isNaN(d.getTime()) && d < new Date();\n    error = valid ? '' : 'Invalid date of birth';\n    break;\n  default:\n    valid = field_value && field_value.trim().length > 0;\n    error = valid ? '' : 'Field cannot be empty';\n}\n\nreturn [{ json: { ...items[0].json, valid, error } }];"
      },
      "id": "wf02-validate-field",
      "name": "Validate Field",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 100]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 100]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEET_LEADS_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "{{ $json.field_name }}": "={{ $json.field_value }}",
            "migration_flag": "VAPI_AI_INTAKE",
            "updated_at": "={{ $now }}"
          }
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "handlingExtraData": "insertInNewColumn"
        }
      },
      "id": "wf02-save-to-sheet",
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1200, 0],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": \"success\", \"field_name\": \"{{ $json.field_name }}\", \"saved\": true }",
        "options": {}
      },
      "id": "wf02-return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1450, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": \"error\", \"message\": \"{{ $json.error }}\" }",
        "options": {}
      },
      "id": "wf02-return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-check-disqualifier",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-disqualifier",
      "name": "Webhook - Check Disqualifier",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 450],
      "webhookId": "vapi-check-disqualifier"
    },
    {
      "parameters": {
        "jsCode": "const p = items[0].json.message.functionCall.parameters;\nconst claimsThreshold = 3;\nconst urgencyThreshold = 72;\n\nlet disqualified = false;\nlet reason = '';\n\nif (p.claims_count_worst_year >= claimsThreshold) {\n  disqualified = true;\n  reason = 'Too many claims: ' + p.claims_count_worst_year + ' in a single year';\n} else if (p.urgency_hours <= urgencyThreshold && p.urgency_hours > 0) {\n  disqualified = true;\n  reason = 'Coverage needed within ' + p.urgency_hours + ' hours';\n}\n\nreturn [{ json: { call_id: p.call_id, disqualified, reason } }];"
      },
      "id": "wf02-evaluate-disqualifier",
      "name": "Evaluate Disqualifier Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [530, 450]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "__rl": true, "value": "={{ $env.GOOGLE_SHEET_LEADS_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "Leads", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $json.call_id }}",
            "disqualified": "={{ $json.disqualified }}",
            "disqualifier_reason": "={{ $json.reason }}"
          }
        },
        "options": {}
      },
      "id": "wf02-update-lead-disqualifier",
      "name": "Update Lead - Disqualifier",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [810, 450],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "google-sheets-cred",
          "name": "Google Sheets OAuth2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": { \"disqualified\": {{ $json.disqualified }}, \"reason\": \"{{ $json.reason }}\" } }",
        "options": {}
      },
      "id": "wf02-return-disqualifier-result",
      "name": "Return Disqualifier Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1090, 450]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-check-hotlead",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-hotlead",
      "name": "Webhook - Check Hot Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 750],
      "webhookId": "vapi-check-hotlead"
    },
    {
      "parameters": {
        "jsCode": "const p = items[0].json.message.functionCall.parameters;\nlet hot_lead = false;\nlet reason = '';\n\nif (p.policy_type === 'property' && p.estimated_value >= 2000000) {\n  hot_lead = true;\n  reason = 'Property value $' + p.estimated_value.toLocaleString();\n} else if (p.policy_type === 'auto' && p.estimated_value >= 180000) {\n  hot_lead = true;\n  reason = 'Auto value $' + p.estimated_value.toLocaleString();\n}\n\nreturn [{ json: { call_id: p.call_id, hot_lead, reason, policy_type: p.policy_type, estimated_value: p.estimated_value } }];"
      },
      "id": "wf02-evaluate-hotlead",
      "name": "Evaluate Hot Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [530, 750]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "hotlead-check",
              "leftValue": "={{ $json.hot_lead }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-hotlead",
      "name": "IF Hot Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [810, 750]
    },
    {
      "parameters": {
        "workflowId": "AxGXJxHIDQJILOtQ",
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf02-trigger-wf03",
      "name": "Trigger WF-03 Transfer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [1090, 650]
    },
    {
      "parameters": {
        "sendTo": "={{ $env.NOTIFY_EMAIL_DAVIN }}, {{ $env.NOTIFY_EMAIL_VAL }}",
        "subject": "=HOT LEAD — {{ $json.policy_type }} ${{ $json.estimated_value }} — TRANSFERRING NOW",
        "emailType": "text",
        "message": "=Caller Phone: (from lead record)\nPolicy: {{ $json.policy_type }}\nValue: ${{ $json.estimated_value }}\nReason: {{ $json.reason }}\n\nTransfer initiated. Check lead record for details."
      },
      "id": "wf02-send-hotlead-email",
      "name": "Send Pre-Transfer Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1090, 850],
      "credentials": {
        "smtp": {
          "id": "smtp-cred",
          "name": "SMTP Credentials"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"result\": { \"hot_lead\": {{ $json.hot_lead }}, \"action\": \"{{ $json.hot_lead ? 'transfer' : 'continue' }}\" } }",
        "options": {}
      },
      "id": "wf02-return-hotlead-result",
      "name": "Return Hot Lead Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1350, 750]
    }
  ],
  "connections": {
    "Webhook - Save Field": {
      "main": [[{ "node": "Extract Field Parameters", "type": "main", "index": 0 }]]
    },
    "Extract Field Parameters": {
      "main": [[{ "node": "Validate Field", "type": "main", "index": 0 }]]
    },
    "Validate Field": {
      "main": [[{ "node": "IF Valid", "type": "main", "index": 0 }]]
    },
    "IF Valid": {
      "main": [
        [{ "node": "Save to Google Sheet", "type": "main", "index": 0 }],
        [{ "node": "Return Validation Error", "type": "main", "index": 0 }]
      ]
    },
    "Save to Google Sheet": {
      "main": [[{ "node": "Return Success", "type": "main", "index": 0 }]]
    },
    "Webhook - Check Disqualifier": {
      "main": [[{ "node": "Evaluate Disqualifier Rules", "type": "main", "index": 0 }]]
    },
    "Evaluate Disqualifier Rules": {
      "main": [[{ "node": "Update Lead - Disqualifier", "type": "main", "index": 0 }]]
    },
    "Update Lead - Disqualifier": {
      "main": [[{ "node": "Return Disqualifier Result", "type": "main", "index": 0 }]]
    },
    "Webhook - Check Hot Lead": {
      "main": [[{ "node": "Evaluate Hot Lead", "type": "main", "index": 0 }]]
    },
    "Evaluate Hot Lead": {
      "main": [[{ "node": "IF Hot Lead", "type": "main", "index": 0 }]]
    },
    "IF Hot Lead": {
      "main": [
        [
          { "node": "Trigger WF-03 Transfer", "type": "main", "index": 0 },
          { "node": "Send Pre-Transfer Email", "type": "main", "index": 0 }
        ],
        [{ "node": "Return Hot Lead Result", "type": "main", "index": 0 }]
      ]
    },
    "Trigger WF-03 Transfer": {
      "main": [[{ "node": "Return Hot Lead Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
