n8n-wf02-new-customer-intake.json
{
  "name": "WF-02 New Customer P&C Intake",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-save-field",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-save-field",
      "name": "Webhook - Save Field",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        100
      ],
      "webhookId": "vapi-save-field"
    },
    {
      "parameters": {
        "jsCode": "// Parse VAPI tool-calls payload (body wrapper for n8n cloud)\nconst data = items[0].json.body || items[0].json;\nconst toolCall = data.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nlet args = toolCall.function.arguments;\nif (typeof args === 'string') {\n  args = JSON.parse(args);\n}\n\nreturn [{\n  json: {\n    toolCallId,\n    call_id: args.call_id,\n    field_name: args.field_name,\n    field_value: args.field_value\n  }\n}];"
      },
      "id": "wf02-extract-field-params",
      "name": "Extract Field Parameters",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "const { field_name, field_value } = items[0].json;\nlet valid = true;\nlet error = '';\n\n// Whitelist validation - only accept known field names\nconst VALID_FIELDS = [\n  'caller_name', 'caller_phone', 'caller_email', 'caller_address',\n  'caller_dob', 'caller_occupation', 'policy_type', 'referral_source',\n  'claims_count', 'claims_details', 'urgency_timeline', 'current_coverage',\n  'shopping_reason', 'auto_vehicle_info', 'auto_vin', 'auto_lien_type',\n  'auto_lienholder', 'auto_violations', 'auto_household_drivers',\n  'auto_title_names', 'renter_address', 'renter_possessions_value',\n  'renter_mgmt_company', 'renter_addl_insured', 'property_address',\n  'property_first_buyer', 'property_value', 'property_coverage_needs',\n  'property_policy_age', 'biz_name', 'biz_ein', 'biz_start_date',\n  'biz_revenue', 'biz_industry', 'biz_contact', 'cross_sell_interest',\n  'cross_sell_types', 'reason_for_calling'\n];\nif (!VALID_FIELDS.includes(field_name)) {\n  return [{ json: { ...items[0].json, valid: false, error: 'Unknown field: ' + field_name } }];\n}\n\nswitch (field_name) {\n  case 'caller_phone':\n    valid = /^\\+?1?\\d{10}$/.test(field_value.replace(/[\\s\\-()]/g, ''));\n    error = valid ? '' : 'Invalid phone number format';\n    break;\n  case 'caller_email':\n    valid = /^[^@]+@[^@]+\\.[^@]+$/.test(field_value);\n    error = valid ? '' : 'Invalid email format';\n    break;\n  case 'caller_dob':\n    const d = new Date(field_value);\n    valid = !isNaN(d.getTime()) && d < new Date();\n    error = valid ? '' : 'Invalid date of birth';\n    break;\n  default:\n    valid = field_value && field_value.trim().length > 0;\n    error = valid ? '' : 'Field cannot be empty';\n}\n\nreturn [{ json: { ...items[0].json, valid, error } }];"
      },
      "id": "wf02-validate-field",
      "name": "Validate Field",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "valid-check",
              "leftValue": "={{ $json.valid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-valid",
      "name": "IF Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        100
      ]
    },
    {
      "parameters": {
        "jsCode": "// Accumulate all fields for this call using workflow static data\nconst staticData = $getWorkflowStaticData('global');\nconst { call_id, field_name, field_value } = items[0].json;\n\n// Initialize call data accumulator if first field\nif (!staticData[call_id]) {\n  staticData[call_id] = {};\n}\n\n// Store the new field\nstaticData[call_id][field_name] = field_value;\n\n// Build a COMPLETE row with ALL fields collected so far\nconst row = {\n  call_id: call_id,\n  migration_flag: 'VAPI_AI_COLLECTED',\n  updated_at: new Date().toISOString()\n};\n\n// Merge all accumulated fields into the row\nfor (const [key, value] of Object.entries(staticData[call_id])) {\n  row[key] = value;\n}\n\nreturn [{ json: row }];"
      },
      "id": "wf02-prepare-sheet-data",
      "name": "Prepare Sheet Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "wf02-save-to-sheet",
      "name": "Save to Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1300,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Extract Field Parameters').item.json.toolCallId, result: 'Field ' + $('Extract Field Parameters').item.json.field_name + ' saved successfully' }] }) }}",
        "options": {}
      },
      "id": "wf02-return-success",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1530,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $json.toolCallId, result: 'Validation error: ' + $json.error }] }) }}",
        "options": {}
      },
      "id": "wf02-return-validation-error",
      "name": "Return Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-check-disqualifier",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-disqualifier",
      "name": "Webhook - Check Disqualifier",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        450
      ],
      "webhookId": "vapi-check-disqualifier"
    },
    {
      "parameters": {
        "jsCode": "// Parse VAPI tool-calls payload (body wrapper for n8n cloud)\nconst data = items[0].json.body || items[0].json;\nconst toolCall = data.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nlet p = toolCall.function.arguments;\nif (typeof p === 'string') {\n  p = JSON.parse(p);\n}\n\nconst claimsThreshold = 3;\nconst urgencyThreshold = 72;\n\nlet disqualified = false;\nlet reason = '';\n\nif (p.claims_count_worst_year >= claimsThreshold) {\n  disqualified = true;\n  reason = 'Too many claims: ' + p.claims_count_worst_year + ' in a single year';\n} else if (p.urgency_hours <= urgencyThreshold && p.urgency_hours > 0) {\n  disqualified = true;\n  reason = 'Coverage needed within ' + p.urgency_hours + ' hours';\n}\n\nconst result_message = disqualified\n  ? 'DISQUALIFIED: ' + reason + '. Deliver the polite redirect message.'\n  : 'Not disqualified. Continue with data collection.';\n\nreturn [{ json: { toolCallId, call_id: p.call_id, disqualified, reason, result_message } }];"
      },
      "id": "wf02-evaluate-disqualifier",
      "name": "Evaluate Disqualifier Rules",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        450
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Leads",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {}
        },
        "options": {
          "cellFormat": "USER_ENTERED"
        }
      },
      "id": "wf02-update-lead-disqualifier",
      "name": "Update Lead - Disqualifier",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        810,
        450
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Evaluate Disqualifier Rules').item.json.toolCallId, result: $('Evaluate Disqualifier Rules').item.json.result_message }] }) }}",
        "options": {}
      },
      "id": "wf02-return-disqualifier-result",
      "name": "Return Disqualifier Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1090,
        450
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-check-hotlead",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf02-webhook-hotlead",
      "name": "Webhook - Check Hot Lead",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        750
      ],
      "webhookId": "vapi-check-hotlead"
    },
    {
      "parameters": {
        "jsCode": "// Parse VAPI tool-calls payload (body wrapper for n8n cloud)\nconst data = items[0].json.body || items[0].json;\nconst toolCall = data.message.toolCallList[0];\nconst toolCallId = toolCall.id;\nlet p = toolCall.function.arguments;\nif (typeof p === 'string') {\n  p = JSON.parse(p);\n}\n\nlet hot_lead = false;\nlet reason = '';\n\nif (p.policy_type === 'property' && p.estimated_value >= 2000000) {\n  hot_lead = true;\n  reason = 'Property value $' + p.estimated_value.toLocaleString();\n} else if (p.policy_type === 'auto' && p.estimated_value >= 180000) {\n  hot_lead = true;\n  reason = 'Auto value $' + p.estimated_value.toLocaleString();\n}\n\nconst result_message = hot_lead\n  ? 'HOT LEAD: ' + reason + '. Transfer caller to live agent immediately using transferCall.'\n  : 'Not a hot lead. Continue with standard data collection.';\n\nreturn [{ json: { toolCallId, call_id: p.call_id, hot_lead, reason, policy_type: p.policy_type, estimated_value: p.estimated_value, result_message } }];"
      },
      "id": "wf02-evaluate-hotlead",
      "name": "Evaluate Hot Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        530,
        750
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "hotlead-check",
              "leftValue": "={{ $json.hot_lead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf02-if-hotlead",
      "name": "IF Hot Lead",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        810,
        750
      ]
    },
    {
      "parameters": {
        "workflowId": "AxGXJxHIDQJILOtQ",
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "wf02-trigger-wf03",
      "name": "Trigger WF-03 Transfer",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [
        1090,
        650
      ]
    },
    {
      "parameters": {
        "sendTo": "davin@equityinsurance.services, val@equityinsurance.services",
        "subject": "=HOT LEAD — {{ $json.policy_type }} ${{ $json.estimated_value }} — TRANSFERRING NOW",
        "message": "=Caller Phone: (from lead record)\nPolicy: {{ $json.policy_type }}\nValue: ${{ $json.estimated_value }}\nReason: {{ $json.reason }}\n\nTransfer initiated. Check lead record for details.",
        "options": {}
      },
      "id": "wf02-send-hotlead-email",
      "name": "Send Pre-Transfer Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1090,
        850
      ],
      "credentials": {
        "gmailOAuth2": {
          "id": "Q1QMixyCKrZpc2Vl",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ results: [{ toolCallId: $('Evaluate Hot Lead').item.json.toolCallId, result: $('Evaluate Hot Lead').item.json.result_message }] }) }}",
        "options": {}
      },
      "id": "wf02-return-hotlead-result",
      "name": "Return Hot Lead Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1350,
        750
      ]
    }
  ],
  "connections": {
    "Webhook - Save Field": {
      "main": [
        [
          {
            "node": "Extract Field Parameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Field Parameters": {
      "main": [
        [
          {
            "node": "Validate Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Field": {
      "main": [
        [
          {
            "node": "IF Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid": {
      "main": [
        [
          {
            "node": "Prepare Sheet Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sheet Data": {
      "main": [
        [
          {
            "node": "Save to Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Google Sheet": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Check Disqualifier": {
      "main": [
        [
          {
            "node": "Evaluate Disqualifier Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Disqualifier Rules": {
      "main": [
        [
          {
            "node": "Update Lead - Disqualifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Lead - Disqualifier": {
      "main": [
        [
          {
            "node": "Return Disqualifier Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Check Hot Lead": {
      "main": [
        [
          {
            "node": "Evaluate Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluate Hot Lead": {
      "main": [
        [
          {
            "node": "IF Hot Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Hot Lead": {
      "main": [
        [
          {
            "node": "Trigger WF-03 Transfer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Pre-Transfer Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Hot Lead Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger WF-03 Transfer": {
      "main": [
        [
          {
            "node": "Return Hot Lead Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}