n8n-wf08-sms-form-sender.json
{
  "name": "WF-08 SMS Form Sender (Twilio)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-send-form",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf08-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vapi-send-form"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "call_id",
              "name": "call_id",
              "value": "={{ ($json.body?.message || $json.message).toolCallList[0].function.arguments.call_id || ($json.body?.message || $json.message).call.id || 'unknown' }}",
              "type": "string"
            },
            {
              "id": "caller_name",
              "name": "caller_name",
              "value": "={{ ($json.body?.message || $json.message).toolCallList[0].function.arguments.caller_name || 'Valued Caller' }}",
              "type": "string"
            },
            {
              "id": "caller_phone",
              "name": "caller_phone",
              "value": "={{ ($json.body?.message || $json.message).toolCallList[0].function.arguments.caller_phone || '' }}",
              "type": "string"
            },
            {
              "id": "insurance_type",
              "name": "insurance_type",
              "value": "={{ ($json.body?.message || $json.message).toolCallList[0].function.arguments.insurance_type || 'auto' }}",
              "type": "string"
            },
            {
              "id": "toolCallId",
              "name": "toolCallId",
              "value": "={{ ($json.body?.message || $json.message).toolCallList[0].id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf08-extract-params",
      "name": "Extract Params",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Build SMS message for Twilio delivery\nconst callerName = items[0].json.caller_name || 'there';\nconst callerPhone = (items[0].json.caller_phone || '').replace(/[\\s\\-()\\+]/g, '');\nconst callId = items[0].json.call_id || '';\nconst insuranceType = (items[0].json.insurance_type || 'auto').toLowerCase().trim();\nconst toolCallId = items[0].json.toolCallId || '';\n\n// Strip leading '1' if 11 digits (US country code)\nlet phone10 = callerPhone;\nif (phone10.length === 11 && phone10.startsWith('1')) {\n  phone10 = phone10.substring(1);\n}\n\nif (phone10.length !== 10) {\n  return [{\n    json: {\n      error: true,\n      message: 'Invalid phone number: ' + callerPhone + ' (need 10 digits)',\n      toolCallId\n    }\n  }];\n}\n\n// Format as E.164 for Twilio\nconst e164Phone = '+1' + phone10;\n\n// Google Form URLs by insurance type\nconst FORM_URLS = {\n  auto:             'https://docs.google.com/forms/d/1nXAAS4HKmuoofX9dqK5vF_llri1zEEThAyOJBI-midk/viewform',\n  vehicle:          'https://docs.google.com/forms/d/1nXAAS4HKmuoofX9dqK5vF_llri1zEEThAyOJBI-midk/viewform',\n  commercial_auto:  'https://docs.google.com/forms/d/1ye5IHu-M60EVFPcmfYjQ53zoHLFVSuOp9yoVJ-dYmFY/viewform',\n  business:         'https://docs.google.com/forms/d/1ye5IHu-M60EVFPcmfYjQ53zoHLFVSuOp9yoVJ-dYmFY/viewform',\n  homeowners:       'https://docs.google.com/forms/d/1ZkpKXF_ikkMHCrbYMa7Nw5M8x7STbU6nOXe18kSa0RI/viewform',\n  home:             'https://docs.google.com/forms/d/1ZkpKXF_ikkMHCrbYMa7Nw5M8x7STbU6nOXe18kSa0RI/viewform',\n  property:         'https://docs.google.com/forms/d/1ZkpKXF_ikkMHCrbYMa7Nw5M8x7STbU6nOXe18kSa0RI/viewform',\n  condo:            'https://docs.google.com/forms/d/1a4SelYXb12Ihofm2G4Z8Kmj1vilLvhcFI5QvzufBg_4/viewform',\n  renters:          'https://docs.google.com/forms/d/1UJZb20UgfubgeLkqe3BhmSwQVcDJke_5X8X17p2m_kc/viewform',\n  dwelling_fire:    'https://docs.google.com/forms/d/1xPRCet_wFHhITOHsa8aEcSc__n5gtXhf18SKuHUBoIM/viewform'\n};\n\n// Select the right form URL based on insurance type (default to auto)\nconst formUrl = FORM_URLS[insuranceType] || FORM_URLS['auto'];\n\n// Friendly label for the SMS\nconst typeLabels = {\n  auto: 'auto insurance', vehicle: 'auto insurance',\n  commercial_auto: 'commercial auto insurance', business: 'commercial auto insurance',\n  homeowners: 'home insurance', home: 'home insurance', property: 'home insurance',\n  condo: 'condo insurance', renters: 'renters insurance',\n  dwelling_fire: 'dwelling fire insurance'\n};\nconst typeLabel = typeLabels[insuranceType] || 'insurance';\n\n// SMS body\nconst smsBody = `Aloha ${callerName}! Mahalo for calling Equity Insurance. Please complete your ${typeLabel} quote form here: ${formUrl} - Call us at (808) 593-7746 with any questions!`;\n\nreturn [{\n  json: {\n    to: e164Phone,\n    body: smsBody,\n    call_id: callId,\n    caller_name: callerName,\n    caller_phone: phone10,\n    insurance_type: insuranceType,\n    form_url: formUrl,\n    toolCallId,\n    error: false,\n    sent_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "wf08-build-sms",
      "name": "Build SMS Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "error-check",
              "leftValue": "={{ $json.error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "notEquals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf08-if-valid-phone",
      "name": "IF Valid Phone",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "from": "+18087451420",
        "to": "={{ $json.to }}",
        "message": "={{ $json.body }}",
        "options": {}
      },
      "id": "wf08-send-sms-twilio",
      "name": "Send SMS via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1170, 250],
      "credentials": {
        "twilioApi": {
          "id": "gpRSeZXXUQwZ3HH1",
          "name": "Twilio SMS"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Extract Params').item.json.toolCallId }}\",\n      \"result\": \"SMS with the quote form link has been sent to {{ $('Extract Params').item.json.caller_phone }}. The form was sent via text message to the caller's phone number.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "wf08-respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1400, 250]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"results\": [\n    {\n      \"toolCallId\": \"{{ $('Extract Params').item.json.toolCallId }}\",\n      \"result\": \"SMS could not be sent — invalid phone number. The caller's information has been saved and an agent will follow up with the form link.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "wf08-respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1170, 450]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": { "__rl": true, "value": "=14FqFY4ZyGDeOluYPhbQKNWmZhyPOwi7FFHpnn5c7CG0", "mode": "id" },
        "sheetName": { "__rl": true, "value": "FormTracking", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "call_id": "={{ $('Extract Params').item.json.call_id }}",
            "caller_name": "={{ $('Extract Params').item.json.caller_name }}",
            "caller_phone": "={{ $json.to }}",
            "insurance_type": "={{ $('Extract Params').item.json.insurance_type }}",
            "form_url": "={{ $json.form_url }}",
            "form_sent_at": "={{ $now.toISO() }}",
            "reminder_sent": "false",
            "form_completed": "false",
            "reminder_sent_at": "",
            "form_completed_at": ""
          }
        },
        "options": { "cellFormat": "USER_ENTERED" }
      },
      "id": "wf08-log-for-reminder",
      "name": "Log Form Tracking",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1400, 100],
      "onError": "continueRegularOutput",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Mx6UAeNueCHJeT8c",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Build SMS Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build SMS Message": {
      "main": [
        [
          {
            "node": "IF Valid Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Valid Phone": {
      "main": [
        [
          {
            "node": "Send SMS via Twilio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS via Twilio": {
      "main": [
        [
          {
            "node": "Log for Reminder",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null
}