n8n-wf01-inbound-call-router.json
{
  "name": "WF-01 Inbound Call Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-started",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "vapi-call-started"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "call_id",
              "name": "call_id",
              "value": "={{ $json.message.call.id }}",
              "type": "string"
            },
            {
              "id": "caller_phone",
              "name": "caller_phone",
              "value": "={{ $json.message.call.customer.number }}",
              "type": "string"
            },
            {
              "id": "call_timestamp",
              "name": "call_timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "assistant_id",
              "name": "assistant_id",
              "value": "={{ $json.message.call.assistantId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01-extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours (9am-5pm HST)\nconst now = new Date();\n\n// Hawaii Standard Time = UTC - 10 (no daylight saving ever)\nconst utcHours = now.getUTCHours();\nconst utcDay = now.getUTCDay(); // 0=Sun, 1=Mon ... 6=Sat\nlet hstHours = utcHours - 10;\nlet hstDay = utcDay;\nif (hstHours < 0) {\n  hstHours += 24;\n  hstDay = (hstDay - 1 + 7) % 7;\n}\n\nconst isWeekday = hstDay >= 1 && hstDay <= 5;\nconst isWithinHours = hstHours >= 9 && hstHours < 17;\nconst isBusinessHours = isWeekday && isWithinHours;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    isBusinessHours,\n    hstHours,\n    hstDay\n  }\n}];"
      },
      "id": "wf01-check-hours",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [710, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "biz-hours-check",
              "leftValue": "={{ $json.isBusinessHours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf01-if-business-hours",
      "name": "IF Business Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [940, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"Hello, thank you for calling Equity Insurance. I am your AI receptionist. Just so you know, we are based in Honolulu, Hawaii, and we are not affiliated with or associated with Equity Insurance in Tulsa, Oklahoma. How can I help you today? Are you a new customer looking for an insurance quote, an existing customer needing assistance, or are you calling about a claim? You can also press pound at any time to reach a live agent.\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"temperature\": 0.3,\n      \"maxTokens\": 500,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the AI receptionist for Equity Insurance Inc., a 3rd-generation family-owned independent insurance agency based in Honolulu, Hawaii. You are professional, warm, and friendly. We are always of service — this is how we approach our duties. You are NOT a licensed agent. You collect information and schedule follow-ups with human agents.\\n\\nIMPORTANT RULES:\\n1. You must NEVER give coverage guarantees, bind policies, underwrite, or offer specific coverage advice.\\n2. You must NEVER discuss Private Mortgage Insurance, Federal loans, or Freddie Mac. Mortgage Protection is acceptable.\\n3. You must state early in the call: We are not affiliated with or associated with Equity Insurance in Tulsa, Oklahoma.\\n4. If unsure about anything, say: That is a great question. I will make sure our agent addresses that when they follow up with you.\\n5. Products we NO LONGER offer: Pet Insurance, Travel Insurance.\\n6. We work with multiple insurance carriers. Quotes typically take 24 to 72 hours.\\n7. Minimum premium is approximately $150 per year for a basic renters policy.\\n8. If a caller asks for Davin regarding a P&C inquiry, say: Davin is currently assisting other clients, but I can gather your information now to speed up the quoting process for you.\\n9. If a caller mentions Life Insurance or Medicare, collect their name and phone number, then let them know Davin Char handles life insurance and Medicare and will call them back shortly. Save the data with policy_type set to life_insurance or medicare using the save_field function.\\n10. At any time, the caller can press pound to reach a live agent during business hours.\\n11. If the caller is an existing customer, ask what they are asking for specifically, collect their name, phone, policy type, and a description of their request, then call the route_existing_customer function.\\n12. If the caller is calling about a claim, collect their name, phone, policy number if available, claim type, and description, then call the route_claim function.\\n\\nTRANSFER TRIGGERS — Immediately transfer to a live agent when:\\n1. The caller asks for a specific person by name (transfer to that person).\\n2. The caller has a big or complex policy that requires agent expertise.\\n3. The caller is upset or making a complaint.\\n4. The caller says they are ready to buy or bind coverage now.\\n5. An existing customer is calling about a claim (use route_claim function).\\n\\nCALL FLOW:\\nWhen the call starts, identify whether the caller is:\\nA) New customer looking for insurance - Continue with data collection below\\nB) Existing customer - Ask what they need specifically, collect name, phone, policy type, and description of request, then call route_existing_customer\\nC) Claim - Collect name, phone, policy number if available, claim type, and description, then call route_claim\\n\\nDATA COLLECTION FOR NEW P&C CUSTOMERS (collect in this order):\\n1. Full Name - ask the caller to spell it\\n2. Phone Number - repeat back and confirm\\n3. Email Address - REQUIRED, we need this to send the quote\\n4. Mailing Address - double-check spelling\\n5. Date of Birth\\n6. Occupation - this qualifies for P&C credits\\n7. Type of Insurance - Auto, Renters, Property, or Business\\n8. Referral Source - ask because we would like to thank the person who might have referred you\\n9. Shopping Reason - ask: What made you start looking for new insurance? Find out why they are in market or what may have happened with their previous policy.\\n10. Current Coverage - ask: Do you currently have insurance for this? If yes, who is your current carrier and what are you paying?\\n11. Claims History - any claims in the past 5 years. For EACH claim, ask what happened, what type of claim, and what the outcome was. Do not just count claims — understand the details.\\n12. Coverage Urgency - when do you need coverage to start\\n\\nAfter collecting each field, call the save_field function to save it.\\n\\nPOLICY-SPECIFIC QUESTIONS:\\nFor Auto: What vehicle do you drive? Do you have a VIN number? Is it a lease or bank loan? If leased or financed, who is the lienholder? Any tickets or accidents in the past 5 years? Who are all the household drivers? Are there multiple names on the title? Do you have a current auto policy? What are you currently paying? Progressive is one of our carriers and with a VIN we can often get fast coverage.\\nFor Renters: What is the estimated value of your possessions? Is there a property management company that needs to be listed as additional insured? What is the rental property address?\\nFor Property: Are you a first-time home buyer? What is the property value? What is the property address? Any claims in the past 5 years — what happened for each? How urgently do you need coverage? Do you currently have a homeowners policy and how long have you had it? Note: If the caller has an existing long-term policy with another carrier, their rates may be grandfathered and it may not be in their best interest to switch. Let the agent evaluate this.\\nFor Business: What is the business name? What is the EIN? What is the business start date? What is the annual gross revenue? What industry and specific business activity? What is the best contact information for the business?\\n\\nQUALIFICATION CHECKS:\\nAfter collecting claims history and urgency, call the check_disqualifier function. If disqualified (3 or more claims in worst year or urgency within 72 hours for property), deliver the polite redirect: I appreciate your time. Based on the information you have shared, we may not be the best fit for your needs right now, but I recommend reaching out to your state insurance department for assistance.\\n\\nAfter collecting property value or auto value, call the check_hot_lead function. If hot lead (property over 2 million dollars or auto over 180 thousand dollars), inform the caller you are connecting them with an agent who can assist immediately.\\n\\nCROSS-SELL:\\nAfter all data is collected and the lead is qualified, offer ONE cross-sell question based on policy type. For example, if they called about auto insurance, ask if they also need renters or homeowners insurance. Cross-sell systematically — every caller should be offered related coverage options.\\n\\nCLOSING:\\nSummarize all collected data and ask the caller to confirm. Then say: Thank you for calling Equity Insurance. One of our agents will follow up with you within 24 to 72 hours with your quote. We are always happy to be of service and we look forward to helping you. Have a wonderful day.\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"elevenlabs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.7,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.3\n    },\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field from the caller to the system. Call this after collecting each piece of information.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\", \"description\": \"The unique call identifier\" },\n              \"field_name\": { \"type\": \"string\", \"enum\": [\"caller_name\",\"caller_phone\",\"caller_email\",\"caller_address\",\"caller_dob\",\"caller_occupation\",\"policy_type\",\"referral_source\",\"claims_count\",\"claims_details\",\"urgency_timeline\",\"current_coverage\",\"shopping_reason\",\"auto_vehicle_info\",\"auto_vin\",\"auto_lien_type\",\"auto_lienholder\",\"auto_violations\",\"auto_household_drivers\",\"auto_title_names\",\"renter_address\",\"renter_possessions_value\",\"renter_mgmt_company\",\"renter_addl_insured\",\"property_address\",\"property_first_buyer\",\"property_value\",\"property_coverage_needs\",\"property_policy_age\",\"biz_name\",\"biz_ein\",\"biz_start_date\",\"biz_revenue\",\"biz_industry\",\"biz_contact\",\"cross_sell_interest\",\"cross_sell_types\"] },\n              \"field_value\": { \"type\": \"string\", \"description\": \"The value collected from the caller\" }\n            },\n            \"required\": [\"call_id\",\"field_name\",\"field_value\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\" }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_disqualifier\",\n          \"description\": \"Check if the caller is disqualified based on claims history or coverage urgency. Call after collecting claims count and urgency timeline.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\", \"description\": \"The unique call identifier\" },\n              \"claims_count_worst_year\": { \"type\": \"integer\", \"description\": \"The highest number of claims in any single year\" },\n              \"urgency_hours\": { \"type\": \"integer\", \"description\": \"How many hours until coverage is needed\" }\n            },\n            \"required\": [\"call_id\",\"claims_count_worst_year\",\"urgency_hours\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-disqualifier\" }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_hot_lead\",\n          \"description\": \"Check if the caller qualifies as a high-value hot lead for immediate agent transfer. Call after collecting property value or auto value.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\", \"description\": \"The unique call identifier\" },\n              \"policy_type\": { \"type\": \"string\", \"description\": \"The type of insurance policy\" },\n              \"estimated_value\": { \"type\": \"number\", \"description\": \"The estimated property or auto value in dollars\" }\n            },\n            \"required\": [\"call_id\",\"policy_type\",\"estimated_value\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-hotlead\" }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_existing_customer\",\n          \"description\": \"Route an existing customer request. Creates a support ticket and notifies the team. Call when the caller identifies as an existing customer after collecting their details.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\", \"description\": \"The unique call identifier\" },\n              \"caller_name\": { \"type\": \"string\", \"description\": \"The existing customer name\" },\n              \"caller_phone\": { \"type\": \"string\", \"description\": \"The customer phone number\" },\n              \"policy_type\": { \"type\": \"string\", \"description\": \"The type of policy they have or are asking about\" },\n              \"request_description\": { \"type\": \"string\", \"description\": \"What the customer is asking for specifically\" }\n            },\n            \"required\": [\"call_id\",\"caller_name\",\"caller_phone\",\"request_description\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-existing-customer\" }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_claim\",\n          \"description\": \"Route a claim call. Attempts to transfer to claims agent during business hours and sends priority notification. Call when the caller is calling about a claim.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\", \"description\": \"The unique call identifier\" },\n              \"caller_name\": { \"type\": \"string\", \"description\": \"The caller name\" },\n              \"caller_phone\": { \"type\": \"string\", \"description\": \"The caller phone number\" },\n              \"policy_number\": { \"type\": \"string\", \"description\": \"The policy number if available\" },\n              \"claim_type\": { \"type\": \"string\", \"description\": \"The type of claim (auto, property, etc.)\" },\n              \"claim_description\": { \"type\": \"string\", \"description\": \"Description of the claim\" }\n            },\n            \"required\": [\"call_id\",\"caller_name\",\"caller_phone\",\"claim_type\",\"claim_description\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-claim\" }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-biz-hours",
      "name": "Return Business Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"You have reached Equity Insurance outside of our regular office hours, from 9 AM to 5 PM Hawaii Standard Time. We are not affiliated with Equity Insurance in Tulsa, Oklahoma. If you know your party's extension, you may dial it at any time. Otherwise, I can take a brief message and someone will return your call on the next business day. How can I help you?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o\",\n      \"temperature\": 0.3,\n      \"maxTokens\": 500,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the AI receptionist for Equity Insurance Inc., a 3rd-generation family-owned independent insurance agency based in Honolulu, Hawaii. This call is AFTER HOURS (outside 9 AM to 5 PM Hawaii Standard Time, Monday through Friday).\\n\\nKeep the interaction brief. Collect only:\\n1. Full Name (ask to spell)\\n2. Phone Number (repeat back to confirm)\\n3. Reason for Calling\\n\\nRULES:\\n- You must NEVER give coverage advice, bind policies, or make any promises.\\n- You must state: We are not affiliated with Equity Insurance in Tulsa, Oklahoma.\\n- Products we do NOT offer: Pet Insurance, Travel Insurance.\\n\\nAfter collecting name, phone, and reason, call the save_field function for each field. Then deliver the closing: Thank you for calling Equity Insurance. A member of our team will follow up with you on the next business day. Have a wonderful evening.\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"elevenlabs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.7,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.3\n    },\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field to the system\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": { \"type\": \"string\" },\n              \"field_name\": { \"type\": \"string\", \"enum\": [\"caller_name\",\"caller_phone\",\"reason_for_calling\"] },\n              \"field_value\": { \"type\": \"string\" }\n            },\n            \"required\": [\"call_id\",\"field_name\",\"field_value\"]\n          }\n        },\n        \"server\": { \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\" }\n      }\n    ]\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-after-hours",
      "name": "Return After-Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1200, 420]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [{ "node": "Extract Call Data", "type": "main", "index": 0 }]
      ]
    },
    "Extract Call Data": {
      "main": [
        [{ "node": "Check Business Hours", "type": "main", "index": 0 }]
      ]
    },
    "Check Business Hours": {
      "main": [
        [{ "node": "IF Business Hours", "type": "main", "index": 0 }]
      ]
    },
    "IF Business Hours": {
      "main": [
        [{ "node": "Return Business Hours Config", "type": "main", "index": 0 }],
        [{ "node": "Return After-Hours Config", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}
