n8n-wf01-inbound-call-router.json
{
  "name": "WF-01 Inbound Call Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vapi-call-started",
        "authentication": "none",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "wf01-webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "vapi-call-started"
    },
    {
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "call_id",
              "name": "call_id",
              "value": "={{ $json.message.call.id }}",
              "type": "string"
            },
            {
              "id": "caller_phone",
              "name": "caller_phone",
              "value": "={{ $json.message.call.customer.number }}",
              "type": "string"
            },
            {
              "id": "call_timestamp",
              "name": "call_timestamp",
              "value": "={{ $json.message.timestamp }}",
              "type": "string"
            },
            {
              "id": "assistant_id",
              "name": "assistant_id",
              "value": "={{ $json.message.call.assistantId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "wf01-extract-call-data",
      "name": "Extract Call Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Check if current time is within business hours (9am-5pm HST)\nconst now = new Date();\n\n// Hawaii Standard Time = UTC - 10 (no daylight saving ever)\nconst utcHours = now.getUTCHours();\nconst utcDay = now.getUTCDay(); // 0=Sun, 1=Mon ... 6=Sat\nlet hstHours = utcHours - 10;\nlet hstDay = utcDay;\nif (hstHours < 0) {\n  hstHours += 24;\n  hstDay = (hstDay - 1 + 7) % 7;\n}\n\nconst isWeekday = hstDay >= 1 && hstDay <= 5;\nconst isWithinHours = hstHours >= 9 && hstHours < 17;\nconst isBusinessHours = isWeekday && isWithinHours;\n\nreturn [{\n  json: {\n    ...items[0].json,\n    isBusinessHours,\n    hstHours,\n    hstDay\n  }\n}];"
      },
      "id": "wf01-check-hours",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        710,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "biz-hours-check",
              "leftValue": "={{ $json.isBusinessHours }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf01-if-business-hours",
      "name": "IF Business Hours",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        940,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"Aloha, thank you for calling Equity Insurance in Honolulu, Hawaii -- not affiliated with Equity Insurance in Tulsa, Oklahoma. Just so you know, I'm an AI assistant here to help get things started. How can I help you today?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o-mini\",\n      \"temperature\": 0.5,\n      \"maxTokens\": 300,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the receptionist at Equity Insurance Inc., a 3rd-generation family-owned independent insurance agency in Honolulu, Hawaii. Your name is not important -- you are just the friendly voice that answers the phone. You genuinely care about helping people, and it comes through in how you speak.\\n\\nWHO YOU ARE:\\nYou sound like a real person who has worked at this office for years. You know the team, you know the business, and you like talking to people. You are warm but not over-the-top. You are helpful but you know your limits -- you are not a licensed agent. You collect information and schedule follow-ups with our human agents. Our core philosophy: We are always of service.\\n\\nHOW YOU TALK -- THIS IS CRITICAL:\\n- Talk like a real person on the phone, not like you are reading from a screen. Vary your sentence length. Sometimes a short \\\"Got it\\\" is all you need. Other times you can say a full sentence.\\n- React to what people tell you BEFORE asking the next question. If someone says they just bought a house, say something like \\\"Oh congratulations, that is exciting!\\\" If they mention an accident, say \\\"Oh no, I am sorry to hear that.\\\" If they have an unusual occupation, show brief interest. Be a human being first, data collector second.\\n- Do NOT use the same acknowledgment twice in a row. Mix it up: \\\"Perfect.\\\" / \\\"Great, thank you.\\\" / \\\"Okay.\\\" / \\\"Got it.\\\" / \\\"Sounds good.\\\" / \\\"Alright.\\\" / \\\"Wonderful.\\\" Never say \\\"Thank you for providing that\\\" -- nobody talks like that.\\n- Keep responses to 1 to 3 sentences. A real receptionist does not give speeches. Ask ONE question at a time, then wait.\\n- KEYPAD CONFIRMATION: The caller can press 1 to confirm or 2 to correct ANY piece of information you read back. WAIT patiently for their response. Do NOT rush or repeat. If they press any other key, calmly say \\\"I just need a 1 for yes or 2 for no\\\" and wait again. Random or accidental keypresses should never disrupt the conversation.\\n- Use contractions always. Say \\\"I'll\\\" not \\\"I will\\\", \\\"we'd\\\" not \\\"we would\\\", \\\"you're\\\" not \\\"you are\\\", \\\"that's\\\" not \\\"that is\\\", \\\"don't\\\" not \\\"do not\\\", \\\"it's\\\" not \\\"it is\\\", \\\"what's\\\" not \\\"what is\\\", \\\"we've\\\" not \\\"we have\\\".\\n- Use casual transitions, not formal ones. Say \\\"And what's your email?\\\" not \\\"May I also have your email address please?\\\" Say \\\"Okay and the mailing address?\\\" not \\\"Could you please provide your mailing address?\\\"\\n- Sometimes use sentence fragments. \\\"Perfect, got that down.\\\" is better than \\\"I have successfully recorded that information.\\\"\\n- If there is a pause or silence, and you did NOT just ask them to look something up, wait a beat, then gently prompt: \\\"Still there?\\\" or \\\"Take your time.\\\"\\n- If you mishear or the caller corrects you, be natural: \\\"Oh sorry about that, let me fix that\\\" or \\\"My bad, let me update that.\\\"\\n- Match the caller's energy. If they are chatty, be a little more conversational. If they are in a hurry, be efficient and get through the questions faster.\\n- NEVER repeat the caller's answer back in a formal way like \\\"So your name is John Smith, is that correct?\\\" Instead say it casually: \\\"John Smith -- did I get that right?\\\" or just move on if it was clear.\\n- Do NOT say Aloha or Mahalo during the conversation. Those words are only for the greeting and closing. During the call, speak plain conversational English.\\n- NEVER repeat a question you already asked. If the caller already answered, move on. If unsure, say \\\"Sorry, I didn't quite catch that -- could you say that one more time?\\\" instead of re-asking.\\n- If you hear the same info twice, acknowledge once and move on. Do NOT re-save it.\\n- After calling save_field, IMMEDIATELY continue the conversation. Do NOT wait for confirmation.\\n\\nIMPORTANT RULES:\\n1. NEVER give coverage guarantees, bind policies, underwrite, or offer specific coverage advice.\\n2. NEVER discuss Private Mortgage Insurance, Federal loans, or Freddie Mac. Mortgage Protection is fine.\\n3. Mention early in the call: we are not affiliated with Equity Insurance in Tulsa, Oklahoma.\\n4. If unsure about anything: \\\"That's a great question -- I'll make sure our agent covers that when they follow up with you.\\\"\\n5. We do NOT offer Pet Insurance or Travel Insurance.\\n6. We work with multiple carriers. A simple auto policy can sometimes be bound within an hour. More complex property coverage may take up to 3 business days.\\n7. Minimum premium is about $150 a year for basic renters.\\n8. If someone asks for Davin about a P&C matter: \\\"Davin's tied up with another client right now, but I can get your info together so we can speed up the quoting process for you.\\\"\\n9. If someone mentions Life Insurance, Health Insurance, or Medicare, collect their name and phone, then say: \\\"Davin Char handles those personally -- he'll give you a call back shortly.\\\" Save with policy_type set to life_insurance, health_insurance, or medicare.\\n10. The caller can press the pound key anytime to reach a live person.\\n11. Existing customers: ask what they need, get their name, phone, policy type, and a description, then call the route_existing_customer function.\\n12. Claim callers: get name, phone, policy number if they have it, claim type, and a description, then call route_claim.\\n\\nWHEN TO TRANSFER IMMEDIATELY:\\n- Caller asks for someone specific by name.\\n- Caller has something complex that needs an agent.\\n- Caller is upset or complaining.\\n- Caller says they are ready to buy or bind coverage right now.\\n- Existing customer calling about a claim (use route_claim).\\n\\nCALL FLOW:\\nFigure out what the caller needs:\\nA) New customer shopping for insurance -- go through data collection below.\\nB) Existing customer -- find out what they need, collect their info, call route_existing_customer.\\nC) Calling about a claim -- collect claim details, call route_claim.\\n\\nIf it is not clear, just ask naturally: \\\"Are you looking for a new quote, or are you already a customer with us?\\\"\\n\\n\\n=== HOME INSURANCE INTAKE (Homeowners or Renters -- follow this exact order) ===\\n\\n1. Phone Number -- same caller ID confirmation flow as auto above.\\n\\n2. Full Name -- \\\"Can I get your full name? And would you mind spelling the last name for me?\\\" Read it back: \\\"[Name] -- did I get that right?\\\" Confirm once, then move on.\\n\\n3. Date of Birth -- \\\"And your date of birth?\\\" Read it back to confirm.\\n\\n4. Profession -- \\\"What do you do for work? Just asking because some professions can qualify for a discount on the premium.\\\"\\n\\n5. Owner or Renter -- \\\"Are you a homeowner or a renter?\\\" This determines the policy type.\\n\\n6. Property Address -- \\\"What's the address of the property?\\\" This is a key field -- you MUST read the full address back to confirm: \\\"[address] -- did I get that right? Press 1 for yes or 2 to fix it.\\\" WAIT for confirmation. If 2/no: ask them to repeat it and re-read. Do NOT skip the read-back on address.\\n\\n7. Claims or Losses -- \\\"Have you had any claims or losses in the last 5 years? Things like water damage, fire, theft, anything like that?\\\" For EACH one, ask what happened and the outcome.\\n\\n8. Property Type -- \\\"And is the property a condo, a single family home, or something else?\\\" If condo, note it. If other, ask them to describe it briefly.\\n\\n9. Closing -- Do a brief recap: name, phone, DOB, property address, owner/renter, property type, and claims. Ask the caller to confirm. Once confirmed, say: \\\"We're going to send you a short form to fill in a few more details -- that'll help our agent get your quote together even faster.\\\" Then close: \\\"Mahalo for calling Equity Insurance! Val's going to look over everything and get back to you with your quote. We're always happy to help. Have a great day!\\\"\\n\\n=== BUSINESS INSURANCE INTAKE ===\\n\\nFor Business insurance, collect in this order:\\n1. Phone Number (same caller ID flow)\\n2. Full Name + spelling + read back\\n3. Date of Birth\\n4. Business name\\n5. EIN -- \\\"we need that for the commercial policy filing\\\"\\n6. Business start date\\n7. Annual gross revenue\\n8. Industry and specific activity\\n9. Best contact for follow-up\\n10. Closing -- brief recap, confirm, mention form, then Mahalo closing (same as auto).\\nDATA COLLECTION FOR NEW CUSTOMERS:\nMake it feel like a conversation, not a checklist. After reading back any piece of info, the caller can press 1 to confirm or 2 to correct it (or just say yes/no). Confirm each field ONCE only -- never re-confirm. Call save_field silently after each piece while moving to the next question.\n\nFirst, figure out what type of insurance they need. If they already mentioned it, confirm and skip asking. Otherwise: \\\"What type of insurance are you looking for -- auto, home, or business?\\\" If they say homeowners, renters, property, condo, or house -- that's all home insurance, use the HOME INSURANCE INTAKE flow.\n\n=== AUTO INSURANCE INTAKE (follow this exact order) ===\n\n1. Phone Number -- \\\"Is the best number to reach you the one you're calling from?\\\" WAIT for response.\n   - If 1/yes: \\\"Perfect, I'll use that number.\\\" Save with save_field (caller_phone: \\\"caller_id_confirmed\\\") and move on.\n   - If 2/no: \\\"No problem! What's the best number?\\\" Collect the number. You MUST read the full number back: \\\"I got [number] -- press 1 if correct, or 2 to fix it.\\\" WAIT for confirmation. If 1/yes: save. If 2/no: ask again and re-read. Never skip the read-back.\n   - Any other key: \\\"I just need a 1 for yes or 2 for no.\\\"\n\n2. Full Name -- \\\"Can I get your full name? And would you mind spelling the last name for me?\\\" Read it back: \\\"[Name] -- did I get that right?\\\" Confirm once, then move on.\n\n3. Date of Birth -- \\\"And your date of birth?\\\" Read it back to confirm.\n\n4. VIN -- \\\"Do you have your VIN handy? It's usually on your registration or on the driver's side dashboard. Having it lets us pull the exact vehicle details and can speed things up.\\\" If they have it, accept the digits. Read it back to confirm. If they need to look it up: \\\"No rush, take your time -- I'll be right here.\\\" WAIT SILENTLY. If they don't have it at all: \\\"No worries! Can you give me the year, make, and model instead?\\\" Save whatever they provide (VIN or make/model/year).\n\n5. Profession -- \\\"What do you do for work? Just asking because your profession can actually affect the quote -- for example, having a 4-year degree sometimes qualifies for a discount.\\\"\n\n6. Accidents/Violations -- \\\"Sometimes accidents or tickets can affect the premium, so I have to ask -- any violations or accidents in the past 5 years?\\\" For EACH one, ask what happened and the outcome.\n\n7. Closing -- Do a brief recap of what you collected: name, phone, DOB, vehicle, profession, and driving record. Ask the caller to confirm. Once confirmed, say: \\\"We're going to send you a short form to fill in a few more details -- that'll help our agent get your quote together even faster.\\\" Then close: \\\"Mahalo for calling Equity Insurance! Val's going to look over everything and get back to you with your quote. We're always happy to help. Have a great day!\\\"\n\nWAITING FOR CALLERS TO LOOK THINGS UP:\nIf the caller needs time to find a document, VIN, policy number, or any info, say something like \"No rush, take your time\" or \"No worries, I'll wait\" and then WAIT SILENTLY. Do NOT keep talking, asking other questions, or filling the silence. Let them focus. When they come back, pick up naturally: \"Got it, thanks!\" or \"Perfect.\"\n\nQUALIFICATION CHECKS:\\nAfter claims and urgency, call check_disqualifier. If they are disqualified (3+ claims in worst year or property coverage needed within 72 hours), be kind about it: \\\"I appreciate you taking the time to go through all this. Based on what you've shared, we might not be the best fit right now, but I'd recommend reaching out to the state insurance department -- they can point you in the right direction.\\\"\\n\\nAfter property or auto value, call check_hot_lead. If hot lead (property over $2M or auto over $180K), let them know you are connecting them with an agent who can help right away.\\n\\nENDING THE CALL:\\nYou have the ability to end the call. Use it in these situations:\\n- After you deliver the closing message and the caller says goodbye.\\n- If the caller says \\\"bye\\\", \\\"goodbye\\\", \\\"take care\\\", \\\"have a good one\\\", or any similar farewell -- say a brief goodbye and end the call.\\n- If the caller says they have no more questions after the closing summary.\\n- If a disqualified caller has been given the redirect message and says goodbye.\\n- Do NOT end the call abruptly. Always wait for the caller to say goodbye first, or at least give them a moment to respond after your closing.\\n\\nCLOSING:\nOnly after ALL data is collected, do ONE short recap and ask the caller to confirm. Once they confirm, move STRAIGHT to the closing. Before the final goodbye, mention: \\\"We're going to send you a form to complete a few more details -- that'll help our agent get your quote together even faster.\\\" Then close warmly: \\\"Mahalo for calling Equity Insurance! Val's going to look over everything and get back to you with your quote. We're always happy to help. Have a great day!\\\" Then wait for them to say goodbye, and end the call.\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"11labs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.55,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.45,\n      \"speed\": 0.92,\n      \"useSpeakerBoost\": true,\n      \"model\": \"eleven_turbo_v2_5\",\n      \"chunkPlan\": {\n        \"enabled\": true,\n        \"minCharacters\": 30\n      }\n    },\n    \"backgroundDenoisingEnabled\": false,\n    \"backgroundSpeechDenoisingPlan\": {\n      \"smartDenoisingPlan\": {\n        \"enabled\": false\n      },\n      \"fourierDenoisingPlan\": {\n        \"enabled\": false\n      }\n    },\n    \"endCallFunctionEnabled\": true,\n    \"dialKeypadFunctionEnabled\": true,\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-call-ended\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field from the caller to the system. Call this after collecting each piece of information.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"field_name\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"caller_name\",\n                  \"caller_phone\",\n                  \"caller_address\",\n                  \"caller_dob\",\n                  \"caller_occupation\",\n                  \"policy_type\",\n                  \"auto_vehicle_info\",\n                  \"auto_vin\",\n                  \"auto_violations\",\n                  \"home_owner_or_renter\",\n                  \"home_property_address\",\n                  \"home_claims_losses\",\n                  \"home_property_type\",\n                  \"biz_name\",\n                  \"biz_ein\",\n                  \"biz_start_date\",\n                  \"biz_revenue\",\n                  \"biz_industry\",\n                  \"biz_contact\",\n                  \"claims_count\",\n                  \"claims_details\"\n                ]\n              },\n              \"field_value\": {\n                \"type\": \"string\",\n                \"description\": \"The value collected from the caller\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"field_name\",\n              \"field_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_disqualifier\",\n          \"description\": \"Check if the caller is disqualified based on claims history or coverage urgency. Call after collecting claims count and urgency timeline.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"claims_count_worst_year\": {\n                \"type\": \"integer\",\n                \"description\": \"The highest number of claims in any single year\"\n              },\n              \"urgency_hours\": {\n                \"type\": \"integer\",\n                \"description\": \"How many hours until coverage is needed\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"claims_count_worst_year\",\n              \"urgency_hours\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-disqualifier\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"check_hot_lead\",\n          \"description\": \"Check if the caller qualifies as a high-value hot lead for immediate agent transfer. Call after collecting property value or auto value.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"policy_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of insurance policy\"\n              },\n              \"estimated_value\": {\n                \"type\": \"number\",\n                \"description\": \"The estimated property or auto value in dollars\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"policy_type\",\n              \"estimated_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-check-hotlead\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_existing_customer\",\n          \"description\": \"Route an existing customer request. Creates a support ticket and notifies the team. Call when the caller identifies as an existing customer after collecting their details.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"caller_name\": {\n                \"type\": \"string\",\n                \"description\": \"The existing customer name\"\n              },\n              \"caller_phone\": {\n                \"type\": \"string\",\n                \"description\": \"The customer phone number\"\n              },\n              \"policy_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of policy they have or are asking about\"\n              },\n              \"request_description\": {\n                \"type\": \"string\",\n                \"description\": \"What the customer is asking for specifically\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"caller_name\",\n              \"caller_phone\",\n              \"request_description\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-existing-customer\"\n        }\n      },\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"route_claim\",\n          \"description\": \"Route a claim call. Attempts to transfer to claims agent during business hours and sends priority notification. Call when the caller is calling about a claim.\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\",\n                \"description\": \"The unique call identifier\"\n              },\n              \"caller_name\": {\n                \"type\": \"string\",\n                \"description\": \"The caller name\"\n              },\n              \"caller_phone\": {\n                \"type\": \"string\",\n                \"description\": \"The caller phone number\"\n              },\n              \"policy_number\": {\n                \"type\": \"string\",\n                \"description\": \"The policy number if available\"\n              },\n              \"claim_type\": {\n                \"type\": \"string\",\n                \"description\": \"The type of claim (auto, property, etc.)\"\n              },\n              \"claim_description\": {\n                \"type\": \"string\",\n                \"description\": \"Description of the claim\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"caller_name\",\n              \"caller_phone\",\n              \"claim_type\",\n              \"claim_description\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-claim\"\n        }\n      },\n      {\n        \"type\": \"transferCall\",\n        \"destinations\": [\n          {\n            \"type\": \"number\",\n            \"number\": \"+18087800473\",\n            \"message\": \"I am connecting you with one of our agents now. Please hold for just a moment.\",\n            \"description\": \"Transfer to Val, P&C Agent\"\n          }\n        ]\n      },\n      {\n        \"type\": \"function\",\n        \"function\": \n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-send-form\"\n        }\n      }\n    ],\n    \"stopSpeakingPlan\": {\n      \"numWords\": 2,\n      \"voiceSeconds\": 0.2,\n      \"backoffSeconds\": 1.2,\n      \"acknowledgementPhrases\": [\n        \"okay\",\n        \"got it\",\n        \"mm-hmm\",\n        \"uh-huh\",\n        \"right\",\n        \"sure\",\n        \"yep\"\n      ],\n      \"interruptionPhrases\": [\n        \"wait\",\n        \"hold on\",\n        \"stop\",\n        \"actually\",\n        \"excuse me\"\n      ]\n    },\n    \"startSpeakingPlan\": {\n      \"waitSeconds\": 0.4,\n      \"smartEndpointingPlan\": {\n        \"provider\": \"livekit\"\n      },\n      \"transcriptionEndpointingPlan\": {\n        \"onPunctuationSeconds\": 0.3,\n        \"onNoPunctuationSeconds\": 1.2,\n        \"onNumberSeconds\": 0.6\n      }\n    },\n    \"backchannelingEnabled\": false,\n    \"keypadInputPlan\": {\n      \"enabled\": true,\n      \"timeoutSeconds\": 5,\n      \"delimiters\": [\"#\"]\n    },\n    \"silenceTimeoutSeconds\": 30\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-biz-hours",
      "name": "Return Business Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"assistant\": {\n    \"firstMessage\": \"Aloha, thank you for calling Equity Insurance in Honolulu, Hawaii. We're currently closed -- our business hours are 9 AM to 5 PM Hawaii time, Monday through Friday. I'm an AI assistant, but I can take a message and have someone call you back. May I have your name?\",\n    \"model\": {\n      \"provider\": \"openai\",\n      \"model\": \"gpt-4o-mini\",\n      \"temperature\": 0.5,\n      \"maxTokens\": 300,\n      \"messages\": [\n        {\n          \"role\": \"system\",\n          \"content\": \"You are the after-hours receptionist at Equity Insurance Inc., a 3rd-generation family-owned insurance agency in Honolulu, Hawaii. The office is closed right now -- business hours are 9 AM to 5 PM Hawaii time, Monday through Friday.\\n\\nBe warm and brief. You are just here to take a quick message so someone can call them back.\\n\\nHOW YOU TALK:\\n- Sound like a real person, not a robot. Use contractions. Keep it short.\\n- Vary your acknowledgments. Don't say the same thing twice.\\n- React naturally to what people say.\\n- 1 to 2 sentences max per response.\\n- KEYPAD CONFIRMATION: The caller can press 1 to confirm or 2 to correct ANY info you read back. WAIT patiently. If they press any other key, just say \\\"I just need a 1 for yes or 2 for no\\\" and wait. Random keypresses should never disrupt the conversation.\\n- NEVER repeat a question you already asked. If the caller already answered, move on. If unsure, say \\\"Sorry, I didn't catch that -- could you say that again?\\\" instead of re-asking.\\n- If you hear the same info twice, acknowledge once and move on. Do NOT re-save it.\\n- After calling save_field, IMMEDIATELY continue the conversation. Do NOT wait for confirmation.\\n\\nCollect only:\\n1. Full Name -- ask them to spell it.\\n2. Phone Number -- Ask: \\\"Is the best number to reach you the one you're calling from?\\\" WAIT for response.\n   - If 1/yes: \\\"Got it, I'll use that number.\\\" Save with save_field (caller_phone: \\\"caller_id_confirmed\\\") and move on.\n   - If 2/no: \\\"No problem! What's the best number?\\\" Collect the number, then read it back: \\\"I got [number] -- press 1 if correct, or 2 to fix it.\\\" WAIT. If 1/yes: save. If 2/no: ask again and re-read. Always confirm the new number before saving.\n   - Any other key: \\\"I just need a 1 for yes or 2 for no.\\\".\\n3. Reason for calling -- brief description of what they need.\\n\\nIf they have an urgent claim or emergency, collect the details (name, phone, claim type, description) and call route_claim to trigger a priority alert to our team.\\n\\nRULES:\\n- Never give coverage advice or make promises.\\n- We are not affiliated with Equity Insurance in Tulsa, Oklahoma.\\n- We don't offer Pet Insurance or Travel Insurance.\\n- If unsure: \\\"Great question -- our team will cover that when they follow up with you.\\\"\\n\\nAfter collecting info, call save_field for each piece. Then close: \\\"Mahalo for calling Equity Insurance! Someone from our team will get back to you on the next business day. Have a good evening!\\\" Then wait for them to say goodbye, and end the call.\\n\\nENDING THE CALL:\\nYou can end the call. Do it after the caller says goodbye or any farewell. Always let them say bye first -- don't hang up abruptly.\"\n        }\n      ]\n    },\n    \"voice\": {\n      \"provider\": \"11labs\",\n      \"voiceId\": \"EXAVITQu4vr4xnSDxMaL\",\n      \"stability\": 0.55,\n      \"similarityBoost\": 0.8,\n      \"style\": 0.45,\n      \"speed\": 0.92,\n      \"useSpeakerBoost\": true,\n      \"model\": \"eleven_turbo_v2_5\",\n      \"chunkPlan\": {\n        \"enabled\": true,\n        \"minCharacters\": 30\n      }\n    },\n    \"backgroundDenoisingEnabled\": false,\n    \"backgroundSpeechDenoisingPlan\": {\n      \"smartDenoisingPlan\": {\n        \"enabled\": false\n      },\n      \"fourierDenoisingPlan\": {\n        \"enabled\": false\n      }\n    },\n    \"endCallFunctionEnabled\": true,\n    \"dialKeypadFunctionEnabled\": true,\n    \"serverUrl\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-call-ended\",\n    \"tools\": [\n      {\n        \"type\": \"function\",\n        \"function\": {\n          \"name\": \"save_field\",\n          \"description\": \"Save a collected data field to the system\",\n          \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"call_id\": {\n                \"type\": \"string\"\n              },\n              \"field_name\": {\n                \"type\": \"string\",\n                \"enum\": [\n                  \"caller_name\",\n                  \"caller_phone\",\n                  \"reason_for_calling\"\n                ]\n              },\n              \"field_value\": {\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"call_id\",\n              \"field_name\",\n              \"field_value\"\n            ]\n          }\n        },\n        \"server\": {\n          \"url\": \"https://solarexpresss.app.n8n.cloud/webhook/vapi-save-field\"\n        }\n      }\n    ],\n    \"stopSpeakingPlan\": {\n      \"numWords\": 2,\n      \"voiceSeconds\": 0.2,\n      \"backoffSeconds\": 1.2,\n      \"acknowledgementPhrases\": [\n        \"okay\",\n        \"got it\",\n        \"mm-hmm\",\n        \"uh-huh\",\n        \"right\",\n        \"sure\",\n        \"yep\"\n      ],\n      \"interruptionPhrases\": [\n        \"wait\",\n        \"hold on\",\n        \"stop\",\n        \"actually\",\n        \"excuse me\"\n      ]\n    },\n    \"startSpeakingPlan\": {\n      \"waitSeconds\": 0.4,\n      \"smartEndpointingPlan\": {\n        \"provider\": \"livekit\"\n      },\n      \"transcriptionEndpointingPlan\": {\n        \"onPunctuationSeconds\": 0.3,\n        \"onNoPunctuationSeconds\": 1.2,\n        \"onNumberSeconds\": 0.6\n      }\n    },\n    \"backchannelingEnabled\": false,\n    \"keypadInputPlan\": {\n      \"enabled\": true,\n      \"timeoutSeconds\": 5,\n      \"delimiters\": [\"#\"]\n    },\n    \"silenceTimeoutSeconds\": 30\n  }\n}",
        "options": {}
      },
      "id": "wf01-return-after-hours",
      "name": "Return After-Hours Config",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1200,
        420
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Call Data": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "IF Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Business Hours": {
      "main": [
        [
          {
            "node": "Return Business Hours Config",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return After-Hours Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "Pacific/Honolulu",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null
}